In [48]:
import pandas as pd
import numpy as np
import re
import string
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import preprocessing
import scipy
import xgboost as xgb

In [3]:
import nltk

stopwords = nltk.corpus.stopwords.words('english')
ps = nltk.PorterStemmer()

In [4]:
car_train = pd.read_excel('D:\\OSSI\\Others\\MachineHack\\Used_Cars\\InputFiles\\Participants_Data_Used_Cars\\Data_Train.xlsx')
print(car_train)

                                                  Name    Location  Year  \
0                               Maruti Wagon R LXI CNG      Mumbai  2010
1                     Hyundai Creta 1.6 CRDi SX Option        Pune  2015
2                                         Honda Jazz V     Chennai  2011
3                                    Maruti Ertiga VDI     Chennai  2012
4                      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
5                      Hyundai EON LPG Era Plus Option   Hyderabad  2012
6                               Nissan Micra Diesel XV      Jaipur  2013
7                    Toyota Innova Crysta 2.8 GX AT 8S      Mumbai  2016
8                  Volkswagen Vento Diesel Comfortline        Pune  2013
9                       Tata Indica Vista Quadrajet LS     Chennai  2012
10                                    Maruti Ciaz Zeta       Kochi  2018
11                         Honda City 1.5 V AT Sunroof     Kolkata  2012
12                               Maruti Swift VDI BSIV      Jaipur  2015
13                    Land Rover Range Rover 2.2L Pure       Delhi  2014
14                      Land Rover Freelander 2 TD4 SE        Pune  2012
15                         Mitsubishi Pajero Sport 4X4       Delhi  2014
16                               Honda Amaze S i-Dtech       Kochi  2016
17                               Maruti Swift DDiS VDI      Jaipur  2017
18                 Renault Duster 85PS Diesel RxL Plus       Kochi  2014
19    Mercedes-Benz New C-Class C 220 CDI BE Avantgare   Bangalore  2014
20                                   BMW 3 Series 320d       Kochi  2014
21                       Maruti S Cross DDiS 200 Alpha   Bangalore  2015
22                Audi A6 2011-2015 35 TFSI Technology      Mumbai  2015
23                               Hyundai i20 1.2 Magna     Kolkata  2010
24                 Volkswagen Vento Petrol Highline AT     Kolkata  2010
25                        Honda City Corporate Edition      Mumbai  2012
26                              Nissan Micra Diesel XV   Hyderabad  2012
27                       Maruti Alto K10 2010-2014 VXI   Hyderabad  2013
28                                 Honda WRV i-VTEC VX       Kochi  2018
29                 Toyota Innova 2.5 V Diesel 7-seater      Mumbai  2007
...                                                ...         ...   ...
5989                       Audi A4 35 TDI Premium Plus  Coimbatore  2013
5990                  Tata New Safari DICOR 2.2 VX 4x2        Pune  2008
5991                                  Maruti Swift VDI   Hyderabad  2012
5992                  Skoda Superb Elegance 1.8 TSI AT      Mumbai  2011
5993                                Hyundai Elantra SX      Mumbai  2014
5994                               Honda City 1.5 E MT        Pune  2009
5995            Renault Duster 85PS Diesel RxL Explore        Pune  2015
5996                        Jaguar XF 2.2 Litre Luxury       Kochi  2016
5997                            Maruti Wagon R Duo Lxi      Jaipur  2010
5998        Volkswagen Polo IPL II 1.2 Petrol Highline        Pune  2010
5999                             Tata Bolt Revotron XT     Chennai  2016
6000                            Hyundai i20 Sportz 1.2   Bangalore  2014
6001                         Audi A6 2011-2015 2.0 TDI       Kochi  2013
6002                     Volkswagen Vento 1.6 Highline      Mumbai  2011
6003                                Maruti Celerio VXI   Bangalore  2015
6004                                  Hyundai Getz GLE  Coimbatore  2007
6005                          Maruti Vitara Brezza VDi        Pune  2016
6006                  Mercedes-Benz M-Class ML 320 CDI      Mumbai  2009
6007                       Maruti Swift Dzire Vdi BSIV       Delhi  2011
6008                           Porsche Panamera Diesel   Hyderabad  2013
6009                               Toyota Camry Hybrid      Mumbai  2015
6010                              Honda Brio 1.2 VX MT       Delhi  2013
6011                           Skoda Superb 3.6 V6 FSI   Hyderabad  2009
6012               Toyota Innova 2.5 V Diesel 7-seater  Coimbatore  2011
6013                             Honda Amaze VX i-DTEC  Coimbatore  2015
6014                                  Maruti Swift VDI       Delhi  2014
6015                          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
6016                             Mahindra Xylo D4 BSIV      Jaipur  2012
6017                                Maruti Wagon R VXI     Kolkata  2013
6018                             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission      Owner_Type     Mileage  \
0                 72000       CNG       Manual           First  26.6 km/kg
1                 41000    Diesel       Manual           First  19.67 kmpl
2                 46000    Petrol       Manual           First   18.2 kmpl
3                 87000    Diesel       Manual           First  20.77 kmpl
4                 40670    Diesel    Automatic          Second   15.2 kmpl
5                 75000       LPG       Manual           First  21.1 km/kg
6                 86999    Diesel       Manual           First  23.08 kmpl
7                 36000    Diesel    Automatic           First  11.36 kmpl
8                 64430    Diesel       Manual           First  20.54 kmpl
9                 65932    Diesel       Manual          Second   22.3 kmpl
10                25692    Petrol       Manual           First  21.56 kmpl
11                60000    Petrol    Automatic           First   16.8 kmpl
12                64424    Diesel       Manual           First   25.2 kmpl
13                72000    Diesel    Automatic           First   12.7 kmpl
14                85000    Diesel    Automatic          Second    0.0 kmpl
15               110000    Diesel       Manual           First   13.5 kmpl
16                58950    Diesel       Manual           First   25.8 kmpl
17                25000    Diesel       Manual           First   28.4 kmpl
18                77469    Diesel       Manual           First  20.45 kmpl
19                78500    Diesel    Automatic           First  14.84 kmpl
20                32982    Diesel    Automatic           First  22.69 kmpl
21                55392    Diesel       Manual          Second  23.65 kmpl
22                55985    Petrol    Automatic           First  13.53 kmpl
23                45807    Petrol       Manual           First   18.5 kmpl
24                33000    Petrol    Automatic           First   14.4 kmpl
25                51920    Petrol       Manual           First   16.8 kmpl
26                54000    Diesel       Manual           First  23.08 kmpl
27                54000    Petrol       Manual          Second  20.92 kmpl
28                37430    Petrol       Manual           First   17.5 kmpl
29               262000    Diesel       Manual  Fourth & Above   12.8 kmpl
...                 ...       ...          ...             ...         ...
5989              58629    Diesel    Automatic          Second  18.25 kmpl
5990              86000    Diesel       Manual           Third  13.93 kmpl
5991              68238    Diesel       Manual           First   22.9 kmpl
5992              42036    Petrol    Automatic           First   13.7 kmpl
5993              55619    Petrol       Manual           First   16.3 kmpl
5994              60000    Petrol       Manual           Third   17.0 kmpl
5995              30000    Diesel       Manual           First  19.87 kmpl
5996              31150    Diesel    Automatic           First  16.36 kmpl
5997              70000       LPG       Manual           First  26.2 km/kg
5998              70290    Petrol       Manual          Second  17.24 kmpl
5999              10000    Petrol       Manual           First  17.57 kmpl
6000              68010    Petrol       Manual          Second   18.5 kmpl
6001              91903    Diesel    Automatic           First  17.68 kmpl
6002              38000    Petrol       Manual           First  16.09 kmpl
6003              67600    Petrol       Manual           First   23.1 kmpl
6004              66800    Petrol       Manual           First   15.3 kmpl
6005              37208    Diesel       Manual           First   24.3 kmpl
6006             102002    Diesel    Automatic           First    8.7 kmpl
6007              68000    Diesel       Manual           First   19.3 kmpl
6008              40000    Diesel    Automatic          Second  17.85 kmpl
6009              33500    Petrol    Automatic           First  19.16 kmpl
6010              33746    Petrol       Manual           First   18.5 kmpl
6011              53000    Petrol    Automatic           First    0.0 kmpl
6012              45004    Diesel       Manual           First   12.8 kmpl
6013              70602    Diesel       Manual           First   25.8 kmpl
6014              27365    Diesel       Manual           First   28.4 kmpl
6015             100000    Diesel       Manual           First   24.4 kmpl
6016              55000    Diesel       Manual          Second   14.0 kmpl
6017              46000    Petrol       Manual           First   18.9 kmpl
6018              47000    Diesel       Manual           First  25.44 kmpl

       Engine       Power  Seats   New_Price  Price
0      998 CC   58.16 bhp    5.0         NaN   1.75
1     1582 CC   126.2 bhp    5.0         NaN  12.50
2     1199 CC    88.7 bhp    5.0   8.61 Lakh   4.50
3     1248 CC   88.76 bhp    7.0         NaN   6.00
4     1968 CC   140.8 bhp    5.0         NaN  17.74
5      814 CC    55.2 bhp    5.0         NaN   2.35
6     1461 CC    63.1 bhp    5.0         NaN   3.50
7     2755 CC   171.5 bhp    8.0     21 Lakh  17.50
8     1598 CC   103.6 bhp    5.0         NaN   5.20
9     1248 CC      74 bhp    5.0         NaN   1.95
10    1462 CC  103.25 bhp    5.0  10.65 Lakh   9.95
11    1497 CC   116.3 bhp    5.0         NaN   4.49
12    1248 CC      74 bhp    5.0         NaN   5.60
13    2179 CC   187.7 bhp    5.0         NaN  27.00
14    2179 CC     115 bhp    5.0         NaN  17.50
15    2477 CC  175.56 bhp    7.0  32.01 Lakh  15.00
16    1498 CC    98.6 bhp    5.0         NaN   5.40
17    1248 CC      74 bhp    5.0         NaN   5.99
18    1461 CC    83.8 bhp    5.0         NaN   6.34
19    2143 CC  167.62 bhp    5.0         NaN  28.00
20    1995 CC     190 bhp    5.0  47.87 Lakh  18.55
21    1248 CC    88.5 bhp    5.0         NaN   8.25
22    1984 CC  177.01 bhp    5.0         NaN  23.50
23    1197 CC      80 bhp    5.0         NaN   1.87
24    1598 CC   103.6 bhp    5.0         NaN   2.85
25    1497 CC   116.3 bhp    5.0         NaN   4.25
26    1461 CC    63.1 bhp    5.0         NaN   4.25
27     998 CC    67.1 bhp    5.0         NaN   2.75
28    1199 CC    88.7 bhp    5.0  10.57 Lakh   9.90
29    2494 CC     102 bhp    7.0         NaN   4.00
...       ...         ...    ...         ...    ...
5989  1968 CC  187.74 bhp    5.0  53.14 Lakh  16.52
5990  2179 CC     138 bhp    7.0         NaN   0.60
5991  1248 CC      74 bhp    5.0         NaN   4.80
5992  1798 CC  157.75 bhp    5.0         NaN   6.25
5993  1797 CC   147.5 bhp    5.0         NaN   8.30
5994  1497 CC     118 bhp    5.0         NaN   3.25
5995  1461 CC    83.8 bhp    5.0         NaN   7.75
5996  2179 CC   187.7 bhp    5.0         NaN  30.54
5997   998 CC    58.2 bhp    5.0         NaN   2.27
5998  1198 CC    73.9 bhp    5.0         NaN   2.96
5999  1193 CC    88.7 bhp    5.0   7.77 Lakh   4.00
6000  1197 CC   82.85 bhp    5.0         NaN   5.25
6001  1968 CC  174.33 bhp    5.0         NaN  17.56
6002  1598 CC   103.5 bhp    5.0  11.91 Lakh   3.25
6003   998 CC   67.04 bhp    5.0         NaN   4.00
6004  1341 CC      83 bhp    5.0         NaN   2.20
6005  1248 CC    88.5 bhp    5.0   9.93 Lakh   7.43
6006  2987 CC  224.34 bhp    5.0         NaN  10.75
6007  1248 CC    73.9 bhp    5.0         NaN   2.75
6008  2967 CC     300 bhp    4.0         NaN  45.00
6009  2494 CC   158.2 bhp    5.0         NaN  19.75
6010  1198 CC    86.8 bhp    5.0   6.63 Lakh   3.20
6011  3597 CC   262.6 bhp    5.0         NaN   4.75
6012  2494 CC     102 bhp    7.0         NaN   9.48
6013  1498 CC    98.6 bhp    5.0         NaN   4.83
6014  1248 CC      74 bhp    5.0   7.88 Lakh   4.75
6015  1120 CC      71 bhp    5.0         NaN   4.00
6016  2498 CC     112 bhp    8.0         NaN   2.90
6017   998 CC    67.1 bhp    5.0         NaN   2.65
6018   936 CC    57.6 bhp    5.0         NaN   2.50

[6019 rows x 13 columns]

In [5]:
car_test = pd.read_excel('D:\\OSSI\\Others\\MachineHack\\Used_Cars\\InputFiles\\Participants_Data_Used_Cars\\Data_Test.xlsx')
print(car_test)

                                                   Name    Location  Year  \
0                               Maruti Alto K10 LXI CNG       Delhi  2014
1                         Maruti Alto 800 2016-2019 LXI  Coimbatore  2013
2             Toyota Innova Crysta Touring Sport 2.4 MT      Mumbai  2017
3                                  Toyota Etios Liva GD   Hyderabad  2012
4                                     Hyundai i20 Magna      Mumbai  2014
5                                Mahindra XUV500 W8 2WD  Coimbatore  2016
6                   Toyota Fortuner 4x2 AT TRD Sportivo        Pune  2015
7                                  Hyundai EON Era Plus      Jaipur  2013
8                                   Honda City 1.5 S MT      Mumbai  2011
9                                Mahindra XUV500 W6 2WD  Coimbatore  2015
10                            Audi Q5 2008-2012 2.0 TDI      Mumbai  2012
11                              Hyundai Grand i10 Magna      Jaipur  2016
12                                    Toyota Corolla H5     Chennai  2007
13                               Maruti Swift Vdi BSIII  Coimbatore  2008
14                                    Nissan Terrano XL      Mumbai  2014
15                                     BMW X1 sDrive20d  Coimbatore  2013
16                     BMW 3 Series GT 320d Luxury Line   Hyderabad  2015
17                          Ford Ikon 1.4 TDCi DuraTorq     Chennai  2009
18                                 Maruti Swift AMT ZXI       Kochi  2019
19                               Maruti Swift Dzire VXi      Jaipur  2015
20                                      Maruti Ritz LDi        Pune  2016
21                                      Nissan Micra XV       Delhi  2010
22                        Maruti Alto 800 2016-2019 LXI       Kochi  2017
23                         Skoda Laura 1.8 TSI Ambition   Bangalore  2009
24               Honda Civic 2010-2013 1.8 S MT Inspire   Bangalore  2011
25                                  Ford Ikon 1.3 Flair        Pune  2005
26                                       Maruti Alto LX        Pune  2006
27                              Honda Jazz 1.5 V i DTEC        Pune  2015
28                      Skoda Rapid 1.5 TDI AT Ambition       Delhi  2015
29                               Hyundai i20 1.2 Sportz      Mumbai  2011
...                                                 ...         ...   ...
1204                               Chevrolet Captiva LT       Kochi  2011
1205                                 Datsun GO T Petrol     Chennai  2016
1206                       Skoda Superb Petrol Ambition       Delhi  2010
1207                             Hyundai Santro Xing GL   Ahmedabad  2014
1208              Mahindra Renault Logan 1.5 DLE Diesel     Chennai  2007
1209                 Tata Tiago 1.05 Revotorq XT Option        Pune  2016
1210                Volkswagen Vento Petrol Highline AT      Mumbai  2011
1211                              Hyundai i20 1.2 Spotz        Pune  2014
1212                  Ford EcoSport 1.5 Petrol Ambiente       Kochi  2017
1213                             Jeep Compass 1.4 Sport      Mumbai  2018
1214                                    Audi A4 2.0 TDI   Bangalore  2014
1215                      Hyundai Verna 1.6 SX VTVT (O)       Kochi  2013
1216                           Maruti Vitara Brezza ZDi       Kochi  2017
1217                       Hyundai Elite i20 Magna Plus       Kochi  2018
1218                              Honda Amaze S i-Dtech     Kolkata  2013
1219                                    Audi A4 2.0 TDI   Hyderabad  2011
1220                          Honda Amaze VX AT i-Vtech   Hyderabad  2014
1221                            Honda Jazz 1.5 V i DTEC  Coimbatore  2017
1222                            BMW 5 Series 525d Sedan       Delhi  2012
1223                      Hyundai Grand i10 Asta Option     Kolkata  2015
1224                     Renault Duster 85PS Diesel RxL     Chennai  2015
1225                              Chevrolet Aveo 1.4 LS        Pune  2009
1226                              Honda Amaze S i-Vtech       Kochi  2015
1227                          Hyundai Grand i10 AT Asta  Coimbatore  2016
1228                            Hyundai EON D Lite Plus  Coimbatore  2015
1229                  Volkswagen Vento Diesel Trendline   Hyderabad  2011
1230                             Volkswagen Polo GT TSI      Mumbai  2015
1231                             Nissan Micra Diesel XV     Kolkata  2012
1232                             Volkswagen Polo GT TSI        Pune  2013
1233  Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...       Kochi  2014

      Kilometers_Driven Fuel_Type Transmission Owner_Type      Mileage  \
0                 40929       CNG       Manual      First  32.26 km/kg
1                 54493    Petrol       Manual     Second    24.7 kmpl
2                 34000    Diesel       Manual      First   13.68 kmpl
3                139000    Diesel       Manual      First   23.59 kmpl
4                 29000    Petrol       Manual      First    18.5 kmpl
5                 85609    Diesel       Manual     Second    16.0 kmpl
6                 59000    Diesel    Automatic      First   12.55 kmpl
7                 65000    Petrol       Manual      First    21.1 kmpl
8                 66000    Petrol       Manual     Second    17.0 kmpl
9                 54684    Diesel       Manual      First    15.1 kmpl
10                78000    Diesel    Automatic     Second    12.8 kmpl
11                21000    Petrol       Manual      First    18.9 kmpl
12                90000    Petrol       Manual      Third    13.4 kmpl
13                87628    Diesel       Manual      First    17.8 kmpl
14                45000    Petrol       Manual      First   13.24 kmpl
15                30788    Diesel    Automatic      First   17.05 kmpl
16                39524    Diesel    Automatic      First   19.59 kmpl
17               140000    Diesel       Manual      First    13.8 kmpl
18                15409    Petrol    Automatic      First    22.0 kmpl
19                36502    Petrol       Manual      First    17.5 kmpl
20               200000    Diesel       Manual      First    23.2 kmpl
21                70000    Petrol       Manual      First   18.06 kmpl
22                36701    Petrol       Manual      First    24.7 kmpl
23                72000    Petrol       Manual     Second    17.5 kmpl
24                40000    Petrol       Manual     Second    15.5 kmpl
25                47000    Petrol       Manual     Second    13.8 kmpl
26                93500    Petrol       Manual     Second    19.7 kmpl
27                52000    Diesel       Manual      First    27.3 kmpl
28                55429    Diesel    Automatic     Second   21.66 kmpl
29               133000    Petrol       Manual     Second    17.0 kmpl
...                 ...       ...          ...        ...          ...
1204              99120    Diesel       Manual      First    11.5 kmpl
1205              36000    Petrol       Manual      First   19.83 kmpl
1206              40000    Petrol       Manual      First    13.1 kmpl
1207              41000    Petrol       Manual      First     0.0 kmpl
1208             160000    Diesel       Manual     Second    19.2 kmpl
1209              41413    Diesel       Manual      First   27.28 kmpl
1210              67500    Petrol    Automatic     Second    14.4 kmpl
1211              30315    Petrol       Manual      First    18.6 kmpl
1212              39015    Petrol       Manual      First    17.0 kmpl
1213               6000    Petrol       Manual      First    16.0 kmpl
1214              21143    Diesel    Automatic      First   16.55 kmpl
1215              42203    Petrol       Manual      First    17.1 kmpl
1216              21380    Diesel       Manual      First    24.3 kmpl
1217              23955    Petrol       Manual      First    18.6 kmpl
1218              38568    Diesel       Manual      First    25.8 kmpl
1219              64000    Diesel    Automatic      First   16.55 kmpl
1220              57000    Petrol    Automatic      First    15.5 kmpl
1221              44556    Diesel       Manual      First    27.3 kmpl
1222              80000    Diesel    Automatic      First   16.73 kmpl
1223              39000    Petrol       Manual      First    18.9 kmpl
1224              70000    Diesel       Manual      First   19.87 kmpl
1225              45463    Petrol       Manual      First   14.49 kmpl
1226              44776    Petrol       Manual      First    18.0 kmpl
1227              18242    Petrol    Automatic      First    18.9 kmpl
1228              21190    Petrol       Manual      First    21.1 kmpl
1229              89411    Diesel       Manual      First   20.54 kmpl
1230              59000    Petrol    Automatic      First   17.21 kmpl
1231              28000    Diesel       Manual      First   23.08 kmpl
1232              52262    Petrol    Automatic      Third    17.2 kmpl
1233              72443    Diesel    Automatic      First    10.0 kmpl

       Engine       Power  Seats   New_Price
0      998 CC    58.2 bhp    4.0         NaN
1      796 CC    47.3 bhp    5.0         NaN
2     2393 CC   147.8 bhp    7.0  25.27 Lakh
3     1364 CC    null bhp    5.0         NaN
4     1197 CC   82.85 bhp    5.0         NaN
5     2179 CC     140 bhp    7.0         NaN
6     2982 CC   168.7 bhp    7.0         NaN
7      814 CC    55.2 bhp    5.0         NaN
8     1497 CC     118 bhp    5.0         NaN
9     2179 CC     140 bhp    7.0         NaN
10    1968 CC   167.6 bhp    5.0         NaN
11    1197 CC      82 bhp    5.0         NaN
12    1794 CC     125 bhp    5.0         NaN
13    1248 CC      75 bhp    5.0         NaN
14    1598 CC   102.5 bhp    5.0         NaN
15    1995 CC     184 bhp    5.0         NaN
16    1995 CC     184 bhp    5.0         NaN
17    1399 CC      68 bhp    5.0         NaN
18    1197 CC   81.80 bhp    5.0         NaN
19    1298 CC    85.8 bhp    5.0         NaN
20    1248 CC   73.94 bhp    5.0         NaN
21    1198 CC      75 bhp    5.0         NaN
22     796 CC    47.3 bhp    5.0         NaN
23        NaN         NaN    NaN         NaN
24    1799 CC     132 bhp    5.0         NaN
25    1299 CC      70 bhp    5.0         NaN
26     796 CC    46.3 bhp    5.0         NaN
27    1498 CC    98.6 bhp    5.0         NaN
28    1498 CC  103.52 bhp    5.0         NaN
29    1197 CC      80 bhp    5.0         NaN
...       ...         ...    ...         ...
1204  1991 CC   147.9 bhp    7.0         NaN
1205  1198 CC      67 bhp    5.0   5.53 Lakh
1206  1798 CC   157.8 bhp    5.0         NaN
1207  1086 CC      62 bhp    5.0         NaN
1208  1461 CC      65 bhp    5.0         NaN
1209  1047 CC      69 bhp    5.0   7.06 Lakh
1210  1598 CC   103.6 bhp    5.0         NaN
1211  1197 CC   81.83 bhp    5.0         NaN
1212  1497 CC  121.36 bhp    5.0   8.79 Lakh
1213  1368 CC     160 bhp    5.0  18.16 Lakh
1214  1968 CC  147.51 bhp    5.0         NaN
1215  1591 CC   121.3 bhp    5.0         NaN
1216  1248 CC    88.5 bhp    5.0  10.57 Lakh
1217  1197 CC   81.86 bhp    5.0   7.08 Lakh
1218  1498 CC    98.6 bhp    5.0         NaN
1219  1968 CC  147.51 bhp    5.0         NaN
1220  1198 CC    86.7 bhp    5.0         NaN
1221  1498 CC    98.6 bhp    5.0         NaN
1222  2993 CC     218 bhp    5.0         NaN
1223  1197 CC      82 bhp    5.0         NaN
1224  1461 CC    83.8 bhp    5.0         NaN
1225  1399 CC    92.7 bhp    5.0         NaN
1226  1198 CC    86.7 bhp    5.0         NaN
1227  1197 CC      82 bhp    5.0         NaN
1228   814 CC    55.2 bhp    5.0         NaN
1229  1598 CC   103.6 bhp    5.0         NaN
1230  1197 CC   103.6 bhp    5.0         NaN
1231  1461 CC    63.1 bhp    5.0         NaN
1232  1197 CC   103.6 bhp    5.0         NaN
1233  2148 CC     170 bhp    5.0         NaN

[1234 rows x 12 columns]

In [6]:
car_all = car_train.append(car_test).reset_index(drop=True)
#food_all.fillna(value='',inplace=True)
print(car_all)

       Engine Fuel_Type  Kilometers_Driven    Location     Mileage  \
0      998 CC       CNG              72000      Mumbai  26.6 km/kg
1     1582 CC    Diesel              41000        Pune  19.67 kmpl
2     1199 CC    Petrol              46000     Chennai   18.2 kmpl
3     1248 CC    Diesel              87000     Chennai  20.77 kmpl
4     1968 CC    Diesel              40670  Coimbatore   15.2 kmpl
5      814 CC       LPG              75000   Hyderabad  21.1 km/kg
6     1461 CC    Diesel              86999      Jaipur  23.08 kmpl
7     2755 CC    Diesel              36000      Mumbai  11.36 kmpl
8     1598 CC    Diesel              64430        Pune  20.54 kmpl
9     1248 CC    Diesel              65932     Chennai   22.3 kmpl
10    1462 CC    Petrol              25692       Kochi  21.56 kmpl
11    1497 CC    Petrol              60000     Kolkata   16.8 kmpl
12    1248 CC    Diesel              64424      Jaipur   25.2 kmpl
13    2179 CC    Diesel              72000       Delhi   12.7 kmpl
14    2179 CC    Diesel              85000        Pune    0.0 kmpl
15    2477 CC    Diesel             110000       Delhi   13.5 kmpl
16    1498 CC    Diesel              58950       Kochi   25.8 kmpl
17    1248 CC    Diesel              25000      Jaipur   28.4 kmpl
18    1461 CC    Diesel              77469       Kochi  20.45 kmpl
19    2143 CC    Diesel              78500   Bangalore  14.84 kmpl
20    1995 CC    Diesel              32982       Kochi  22.69 kmpl
21    1248 CC    Diesel              55392   Bangalore  23.65 kmpl
22    1984 CC    Petrol              55985      Mumbai  13.53 kmpl
23    1197 CC    Petrol              45807     Kolkata   18.5 kmpl
24    1598 CC    Petrol              33000     Kolkata   14.4 kmpl
25    1497 CC    Petrol              51920      Mumbai   16.8 kmpl
26    1461 CC    Diesel              54000   Hyderabad  23.08 kmpl
27     998 CC    Petrol              54000   Hyderabad  20.92 kmpl
28    1199 CC    Petrol              37430       Kochi   17.5 kmpl
29    2494 CC    Diesel             262000      Mumbai   12.8 kmpl
...       ...       ...                ...         ...         ...
7223  1991 CC    Diesel              99120       Kochi   11.5 kmpl
7224  1198 CC    Petrol              36000     Chennai  19.83 kmpl
7225  1798 CC    Petrol              40000       Delhi   13.1 kmpl
7226  1086 CC    Petrol              41000   Ahmedabad    0.0 kmpl
7227  1461 CC    Diesel             160000     Chennai   19.2 kmpl
7228  1047 CC    Diesel              41413        Pune  27.28 kmpl
7229  1598 CC    Petrol              67500      Mumbai   14.4 kmpl
7230  1197 CC    Petrol              30315        Pune   18.6 kmpl
7231  1497 CC    Petrol              39015       Kochi   17.0 kmpl
7232  1368 CC    Petrol               6000      Mumbai   16.0 kmpl
7233  1968 CC    Diesel              21143   Bangalore  16.55 kmpl
7234  1591 CC    Petrol              42203       Kochi   17.1 kmpl
7235  1248 CC    Diesel              21380       Kochi   24.3 kmpl
7236  1197 CC    Petrol              23955       Kochi   18.6 kmpl
7237  1498 CC    Diesel              38568     Kolkata   25.8 kmpl
7238  1968 CC    Diesel              64000   Hyderabad  16.55 kmpl
7239  1198 CC    Petrol              57000   Hyderabad   15.5 kmpl
7240  1498 CC    Diesel              44556  Coimbatore   27.3 kmpl
7241  2993 CC    Diesel              80000       Delhi  16.73 kmpl
7242  1197 CC    Petrol              39000     Kolkata   18.9 kmpl
7243  1461 CC    Diesel              70000     Chennai  19.87 kmpl
7244  1399 CC    Petrol              45463        Pune  14.49 kmpl
7245  1198 CC    Petrol              44776       Kochi   18.0 kmpl
7246  1197 CC    Petrol              18242  Coimbatore   18.9 kmpl
7247   814 CC    Petrol              21190  Coimbatore   21.1 kmpl
7248  1598 CC    Diesel              89411   Hyderabad  20.54 kmpl
7249  1197 CC    Petrol              59000      Mumbai  17.21 kmpl
7250  1461 CC    Diesel              28000     Kolkata  23.08 kmpl
7251  1197 CC    Petrol              52262        Pune   17.2 kmpl
7252  2148 CC    Diesel              72443       Kochi   10.0 kmpl

                                                   Name   New_Price  \
0                                Maruti Wagon R LXI CNG         NaN
1                      Hyundai Creta 1.6 CRDi SX Option         NaN
2                                          Honda Jazz V   8.61 Lakh
3                                     Maruti Ertiga VDI         NaN
4                       Audi A4 New 2.0 TDI Multitronic         NaN
5                       Hyundai EON LPG Era Plus Option         NaN
6                                Nissan Micra Diesel XV         NaN
7                     Toyota Innova Crysta 2.8 GX AT 8S     21 Lakh
8                   Volkswagen Vento Diesel Comfortline         NaN
9                        Tata Indica Vista Quadrajet LS         NaN
10                                     Maruti Ciaz Zeta  10.65 Lakh
11                          Honda City 1.5 V AT Sunroof         NaN
12                                Maruti Swift VDI BSIV         NaN
13                     Land Rover Range Rover 2.2L Pure         NaN
14                       Land Rover Freelander 2 TD4 SE         NaN
15                          Mitsubishi Pajero Sport 4X4  32.01 Lakh
16                                Honda Amaze S i-Dtech         NaN
17                                Maruti Swift DDiS VDI         NaN
18                  Renault Duster 85PS Diesel RxL Plus         NaN
19     Mercedes-Benz New C-Class C 220 CDI BE Avantgare         NaN
20                                    BMW 3 Series 320d  47.87 Lakh
21                        Maruti S Cross DDiS 200 Alpha         NaN
22                 Audi A6 2011-2015 35 TFSI Technology         NaN
23                                Hyundai i20 1.2 Magna         NaN
24                  Volkswagen Vento Petrol Highline AT         NaN
25                         Honda City Corporate Edition         NaN
26                               Nissan Micra Diesel XV         NaN
27                        Maruti Alto K10 2010-2014 VXI         NaN
28                                  Honda WRV i-VTEC VX  10.57 Lakh
29                  Toyota Innova 2.5 V Diesel 7-seater         NaN
...                                                 ...         ...
7223                               Chevrolet Captiva LT         NaN
7224                                 Datsun GO T Petrol   5.53 Lakh
7225                       Skoda Superb Petrol Ambition         NaN
7226                             Hyundai Santro Xing GL         NaN
7227              Mahindra Renault Logan 1.5 DLE Diesel         NaN
7228                 Tata Tiago 1.05 Revotorq XT Option   7.06 Lakh
7229                Volkswagen Vento Petrol Highline AT         NaN
7230                              Hyundai i20 1.2 Spotz         NaN
7231                  Ford EcoSport 1.5 Petrol Ambiente   8.79 Lakh
7232                             Jeep Compass 1.4 Sport  18.16 Lakh
7233                                    Audi A4 2.0 TDI         NaN
7234                      Hyundai Verna 1.6 SX VTVT (O)         NaN
7235                           Maruti Vitara Brezza ZDi  10.57 Lakh
7236                       Hyundai Elite i20 Magna Plus   7.08 Lakh
7237                              Honda Amaze S i-Dtech         NaN
7238                                    Audi A4 2.0 TDI         NaN
7239                          Honda Amaze VX AT i-Vtech         NaN
7240                            Honda Jazz 1.5 V i DTEC         NaN
7241                            BMW 5 Series 525d Sedan         NaN
7242                      Hyundai Grand i10 Asta Option         NaN
7243                     Renault Duster 85PS Diesel RxL         NaN
7244                              Chevrolet Aveo 1.4 LS         NaN
7245                              Honda Amaze S i-Vtech         NaN
7246                          Hyundai Grand i10 AT Asta         NaN
7247                            Hyundai EON D Lite Plus         NaN
7248                  Volkswagen Vento Diesel Trendline         NaN
7249                             Volkswagen Polo GT TSI         NaN
7250                             Nissan Micra Diesel XV         NaN
7251                             Volkswagen Polo GT TSI         NaN
7252  Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...         NaN

          Owner_Type       Power  Price  Seats Transmission  Year
0              First   58.16 bhp   1.75    5.0       Manual  2010
1              First   126.2 bhp  12.50    5.0       Manual  2015
2              First    88.7 bhp   4.50    5.0       Manual  2011
3              First   88.76 bhp   6.00    7.0       Manual  2012
4             Second   140.8 bhp  17.74    5.0    Automatic  2013
5              First    55.2 bhp   2.35    5.0       Manual  2012
6              First    63.1 bhp   3.50    5.0       Manual  2013
7              First   171.5 bhp  17.50    8.0    Automatic  2016
8              First   103.6 bhp   5.20    5.0       Manual  2013
9             Second      74 bhp   1.95    5.0       Manual  2012
10             First  103.25 bhp   9.95    5.0       Manual  2018
11             First   116.3 bhp   4.49    5.0    Automatic  2012
12             First      74 bhp   5.60    5.0       Manual  2015
13             First   187.7 bhp  27.00    5.0    Automatic  2014
14            Second     115 bhp  17.50    5.0    Automatic  2012
15             First  175.56 bhp  15.00    7.0       Manual  2014
16             First    98.6 bhp   5.40    5.0       Manual  2016
17             First      74 bhp   5.99    5.0       Manual  2017
18             First    83.8 bhp   6.34    5.0       Manual  2014
19             First  167.62 bhp  28.00    5.0    Automatic  2014
20             First     190 bhp  18.55    5.0    Automatic  2014
21            Second    88.5 bhp   8.25    5.0       Manual  2015
22             First  177.01 bhp  23.50    5.0    Automatic  2015
23             First      80 bhp   1.87    5.0       Manual  2010
24             First   103.6 bhp   2.85    5.0    Automatic  2010
25             First   116.3 bhp   4.25    5.0       Manual  2012
26             First    63.1 bhp   4.25    5.0       Manual  2012
27            Second    67.1 bhp   2.75    5.0       Manual  2013
28             First    88.7 bhp   9.90    5.0       Manual  2018
29    Fourth & Above     102 bhp   4.00    7.0       Manual  2007
...              ...         ...    ...    ...          ...   ...
7223           First   147.9 bhp    NaN    7.0       Manual  2011
7224           First      67 bhp    NaN    5.0       Manual  2016
7225           First   157.8 bhp    NaN    5.0       Manual  2010
7226           First      62 bhp    NaN    5.0       Manual  2014
7227          Second      65 bhp    NaN    5.0       Manual  2007
7228           First      69 bhp    NaN    5.0       Manual  2016
7229          Second   103.6 bhp    NaN    5.0    Automatic  2011
7230           First   81.83 bhp    NaN    5.0       Manual  2014
7231           First  121.36 bhp    NaN    5.0       Manual  2017
7232           First     160 bhp    NaN    5.0       Manual  2018
7233           First  147.51 bhp    NaN    5.0    Automatic  2014
7234           First   121.3 bhp    NaN    5.0       Manual  2013
7235           First    88.5 bhp    NaN    5.0       Manual  2017
7236           First   81.86 bhp    NaN    5.0       Manual  2018
7237           First    98.6 bhp    NaN    5.0       Manual  2013
7238           First  147.51 bhp    NaN    5.0    Automatic  2011
7239           First    86.7 bhp    NaN    5.0    Automatic  2014
7240           First    98.6 bhp    NaN    5.0       Manual  2017
7241           First     218 bhp    NaN    5.0    Automatic  2012
7242           First      82 bhp    NaN    5.0       Manual  2015
7243           First    83.8 bhp    NaN    5.0       Manual  2015
7244           First    92.7 bhp    NaN    5.0       Manual  2009
7245           First    86.7 bhp    NaN    5.0       Manual  2015
7246           First      82 bhp    NaN    5.0    Automatic  2016
7247           First    55.2 bhp    NaN    5.0       Manual  2015
7248           First   103.6 bhp    NaN    5.0       Manual  2011
7249           First   103.6 bhp    NaN    5.0    Automatic  2015
7250           First    63.1 bhp    NaN    5.0       Manual  2012
7251           Third   103.6 bhp    NaN    5.0    Automatic  2013
7252           First     170 bhp    NaN    5.0    Automatic  2014

[7253 rows x 13 columns]

D:\Anaconda\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [7]:
location = car_all['Location'].value_counts()
#locality.to_csv('Locality.csv', index=True)
print(location)

Mumbai        949
Hyderabad     876
Kochi         772
Coimbatore    772
Pune          765
Delhi         660
Kolkata       654
Chennai       591
Jaipur        499
Bangalore     440
Ahmedabad     275
Name: Location, dtype: int64

In [8]:
def clean_text(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens = re.split('\W+', text)
    text = [word for word in tokens if word not in stopwords]
    return text

In [9]:
count_vect = CountVectorizer(analyzer=clean_text)
X_counts = count_vect.fit_transform(car_all['Name'])
print(X_counts.shape)
print(count_vect.get_feature_names())

(7253, 894)
['1', '10', '100', '1000', '105', '107', '11', '110', '110ps', '118d', '11l', '12', '124', '12l', '12p', '12t', '13', '13l', '14', '14gsi', '14l', '15', '15d', '15p', '16', '16l', '177', '18', '18i', '19', '199', '2', '20', '200', '20012003', '20012011', '20032012', '2005', '20052011', '20062010', '20062013', '2007', '20072010', '20072011', '20072012', '20072015', '20082012', '20082013', '20092012', '20092013', '20092014', '20092016', '2010', '20102013', '20102014', '20112014', '20112015', '2012', '20122014', '20122015', '2013', '20132015', '20132016', '20132017', '2014', '20142019', '20152017', '20152019', '20162019', '2020', '20d', '20l', '210', '22', '220', '220cdibe', '220d', '22l', '23', '230', '230jm', '24', '24l', '25', '250', '250d', '250hp', '25i', '25l', '25si', '26', '27', '28', '280', '2wd', '3', '30', '300', '30d', '30l', '318i', '32', '320', '320d', '320i', '325i', '328i', '330', '330d', '330i', '35', '350', '350d', '35i', '36', '370z', '4', '40', '400', '40d', '42', '43', '44', '45', '4d', '4matic', '4s', '4wd', '4x2', '4x4', '5', '50', '500', '520d', '523i', '525d', '525i', '530d', '530i', '540', '540i', '55', '550', '595', '5str', '6', '630i', '640d', '650i', '7', '730ld', '740i', '740li', '750li', '75ps', '7s', '7seater', '7str', '8', '800', '85', '85ps', '8s', '8seater', '9', '90', 'a180', 'a200', 'a3', 'a4', 'a6', 'a7', 'a8', 'abarth', 'abs', 'ac', 'accent', 'accord', 'active', 'advantage', 'adventure', 'aero', 'ags', 'airbag', 'aktiv', 'alloy', 'allstar', 'alpha', 'altis', 'alto', 'amaze', 'ambassador', 'ambiente', 'ambition', 'ameo', 'amg', 'amt', 'amt12', 'anniversary', 'aqua', 'aspire', 'asta', 'astar', 'attraction', 'audi', 'audio', 'aura', 'auto', 'automatic', 'avantgarde', 'avantgare', 'avantgrade', 'aveo', 'avn', 'avventura', 'aw', 'awd', 'b', 'b180', 'b2', 'b200', 'b3', 'baleno', 'base', 'beat', 'beetle', 'bentley', 'bhp', 'bl', 'black', 'blacktop', 'blue', 'bmw', 'bolero', 'bolt', 'boxster', 'breeze', 'brezza', 'brio', 'brv', 'bs', 'bs3', 'bsii', 'bsiii', 'bsiv', 'business', 'c', 'c2', 'c220', 'c250', 'c4', 'c6', 'c8', 'cabriolet', 'camry', 'captiva', 'captur', 'carbon', 'cargo', 'cayenne', 'cayman', 'cbu', 'cclass', 'cdi', 'cedia', 'celebration', 'celerio', 'cgi', 'chevrolet', 'ci', 'ciaz', 'city', 'civic', 'cla', 'class', 'classic', 'climber', 'clsclass', 'club', 'clubman', 'clxi', 'cng', 'comfortline', 'command', 'compass', 'competizione', 'contessa', 'continental', 'convertible', 'cooper', 'corolla', 'corporate', 'country', 'countryman', 'coupe', 'cr', 'crde', 'crdi', 'creta', 'cross', 'crosspolo', 'cruiser', 'cruze', 'crv', 'crysta', 'crz', 'cs', 'cvt', 'cx', 'd2', 'd3', 'd4', 'd4d', 'd4dg', 'd4dj', 'd5', 'd6', 'd70', 'd75', 'datsun', 'dci', 'ddis', 'delta', 'delux', 'design', 'dg', 'di', 'dicor', 'diesel', 'discovery', 'dl', 'dle', 'dlg', 'dls', 'dlx', 'dmax', 'door', 'dp', 'dpe', 'dsg', 'dsl', 'dtec', 'dual', 'dualtone', 'duo', 'duratec', 'duratorq', 'duster', 'dv5', 'dx', 'dx2', 'dynamic', 'dzire', 'e', 'e2', 'e200', 'e240', 'e250', 'e270', 'e350', 'e4', 'e400', 'e8', 'e9', 'eclass', 'ecoboost', 'ecosport', 'ecs', 'edge', 'edition', 'eeco', 'efficiency', 'eglx', 'egvx', 'el', 'elan', 'elantra', 'elegance', 'elite', 'els', 'elx', 'emax', 'embera', 'eminence', 'emotion', 'endeavour', 'enjoy', 'eon', 'era', 'erlx', 'ertiga', 'esteem', 'estilo', 'etios', 'euro', 'ev', 'evalia', 'evgt', 'evo', 'evoque', 'evx', 'ex', 'excellence', 'exclusive', 'executive', 'exi', 'expedition', 'experience', 'explore', 'explorer', 'f', 'fabia', 'facelift', 'fe', 'fiat', 'fiesta', 'figo', 'fire', 'flair', 'fleet', 'fluence', 'flying', 'force', 'ford', 'fortuner', 'fortwo', 'freelander', 'freestyle', 'fs', 'fsi', 'fusion', 'fwd', 'g', 'g1', 'g3', 'g4', 'g80', 'gallardo', 'gd', 'gdi', 'getz', 'gl', 'gla', 'glc', 'glclass', 'gle', 'gls', 'glx', 'glxd', 'go', 'gold', 'gran', 'grand', 'grande', 'green', 'gs', 'gt', 'gti', 'gvs', 'gx', 'gxd', 'gxi', 'h2', 'h4', 'h5', 'h9', 'hatchback', 'hexa', 'high', 'highline', 'hindustan', 'hipack', 'honda', 'hse', 'htr', 'hurricane', 'hv', 'hybrid', 'hyundai', 'i10', 'i20', 'icc', 'idtec', 'idtech', 'ignis', 'ii', 'iii', 'ikon', 'immobiliser', 'indica', 'indigo', 'innova', 'inscription', 'inspire', 'ipl', 'isuzu', 'itech', 'iv', 'ivtec', 'ivtech', 'j', 'jaguar', 'jazz', 'jeep', 'jet', 'jetta', 'js', 'k', 'k10', 'k2', 'k4', 'k6', 'k8', 'kappa', 'kinetic', 'koleos', 'kompressor', 'konekt', 'kuv', 'kwid', 'l', 'lamborghini', 'lancer', 'land', 'launch', 'laura', 'ldi', 'le', 'leather', 'lei', 'leisure', 'lhd', 'limited', 'line', 'linea', 'lite', 'litre', 'liva', 'lk', 'lodgy', 'logan', 'long', 'longitude', 'lp', 'lpg', 'ls', 'lt', 'ltd', 'ltz', 'luxury', 'lwb', 'lx', 'lxi', 'magna', 'magnao', 'magnific', 'magnum', 'mahindra', 'manual', 'manza', 'maruti', 'matrix', 'maxx', 'mclass', 'mercedesbenz', 'mfalcon', 'mhawk', 'mhawk100', 'micra', 'mini', 'minor', 'mitsubishi', 'ml', 'mm', 'mobilio', 'mode', 'momentum', 'mono', 'montero', 'moonroof', 'motors', 'mpi', 'ms', 'mt', 'mu', 'multijet', 'multitronic', 'mustang', 'mux', 'n', 'n6', 'n8', 'nano', 'nav', 'new', 'nexon', 'nissan', 'nova', 'nuvosport', 'nxt', 'octavia', 'omni', 'one', 'opelcorsa', 'opt', 'option', 'optional', 'optra', 'outlander', 'p', 'p4', 'pack', 'package', 'pajero', 'panamera', 'paseo', 'passat', 'pd', 'pe', 'petra', 'petrol', 'platine', 'platinum', 'plus', 'polo', 'porsche', 'portfolio', 'power', 'prado', 'pre', 'premium', 'prestige', 'primo', 'prius', 'privilege', 'progressive', 'ps', 'pulse', 'punto', 'pure', 'q3', 'q5', 'q7', 'quadrajet', 'quadrajet90', 'qualis', 'quanto', 'quattro', 'r', 'r350', 'range', 'rapid', 'rclass', 'redi', 'redigo', 'renault', 'revotorq', 'revotron', 'rexton', 'rider', 'ritz', 'roadster', 'roof', 'rover', 'royale', 'rs', 'rs5', 'rvi', 'rx5', 'rx7', 'rxe', 'rxl', 'rxt', 'rxz', 's10', 's2', 's4', 's6', 's60', 's8', 's80', 'safari', 'safety', 'safire', 'safire90', 'sail', 'santa', 'santro', 'scala', 'sclass', 'scorpio', 'scross', 'sd4', 'sdrive', 'sdrive20d', 'sdv6', 'sdv8', 'se', 'seater', 'seating', 'seats', 'sedan', 'select', 'series', 'sfx', 'sfxi', 'sh', 'shvs', 'siena', 'sigma', 'signature', 'skoda', 'sl', 'slc', 'slclass', 'sle', 'slk', 'slkclass', 'slx', 'smart', 'smiles', 'sonata', 'sp', 'spark', 'special', 'speed', 'sport', 'sportback', 'sportivo', 'sportline', 'sports', 'sportz', 'spotz', 'spur', 'ssangyong', 'standard', 'std', 'stingray', 'storme', 'str', 'style', 'summum', 'sumo', 'sun', 'sunny', 'sunroof', 'superb', 'supercharged', 'sv', 'swift', 'sx', 'sx4', 'sxi', 't8', 'tata', 'tavera', 'tc', 'tcdi', 'td4', 'td6', 'tdci', 'tdi', 'tdv6', 'tdv8', 'teana', 'technology', 'terra', 'terrano', 'tfsi', 'thar', 'ti', 'tiago', 'tigor', 'tiguan', 'tiptronic', 'titanium', 'tivct', 'tjet', 'tone', 'tour', 'touring', 'toyota', 'transform', 'trd', 'trend', 'trendline', 'tsi', 'tt', 'tucson', 'turbo', 'tuv', 'twist', 'type', 'ultima', 'uniq', 'urban', 'uva', 'v', 'v2', 'v40', 'v6', 'v8', 'varicor', 'vcdi', 'vcross', 'vct', 'vd', 'vdi', 'vento', 'venture', 'verito', 'verna', 'versa', 'vgt', 'vibe', 'vista', 'vitara', 'vl', 'vls', 'vlx', 'vogue', 'volkswagen', 'volvo', 'vtec', 'vti', 'vtil', 'vtvt', 'vvt', 'vx', 'vxd', 'vxi', 'w', 'w10', 'w12', 'w2', 'w4', 'w6', 'w7', 'w8', 'w9', 'wagon', 'wheel', 'wizz', 'wo', 'wrv', 'wt20', 'x', 'x1', 'x3', 'x5', 'x6', 'xc60', 'xc90', 'xcent', 'xcite', 'xdrive', 'xdrive20d', 'xdrive30d', 'xe', 'xenon', 'xf', 'xg', 'xi', 'xing', 'xj', 'xl', 'xline', 'xlt', 'xm', 'xms', 'xo', 'xp', 'xt', 'xta', 'xtrail', 'xuv300', 'xuv500', 'xv', 'xxi', 'xylo', 'xz', 'xza', 'yeti', 'z', 'z4', 'zdi', 'zen', 'zest', 'zeta', 'zipdrive', 'zipplus', 'zlx', 'zx', 'zxi']

In [10]:
X_counts_df = pd.DataFrame(X_counts.toarray())
X_counts_df.columns = count_vect.get_feature_names()
X_counts_df

,1,10,100,1000,105,107,11,110,110ps,118d,...,z4,zdi,zen,zest,zeta,zipdrive,zipplus,zlx,zx,zxi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7223,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7224,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7225,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7226,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7227,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7228,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7229,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7230,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7231,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7232,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7233,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7234,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7235,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
7236,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7237,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7238,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7239,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7240,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7241,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7242,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7243,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7244,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7245,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7246,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7247,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7248,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7249,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7250,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7251,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7252,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
car_all_ex = pd.concat([car_all,X_counts_df], axis=1, sort=False)
#food_all_ex = food_all.join(X_counts_df)
print(car_all_ex)

       Engine Fuel_Type  Kilometers_Driven    Location     Mileage  \
0      998 CC       CNG              72000      Mumbai  26.6 km/kg
1     1582 CC    Diesel              41000        Pune  19.67 kmpl
2     1199 CC    Petrol              46000     Chennai   18.2 kmpl
3     1248 CC    Diesel              87000     Chennai  20.77 kmpl
4     1968 CC    Diesel              40670  Coimbatore   15.2 kmpl
5      814 CC       LPG              75000   Hyderabad  21.1 km/kg
6     1461 CC    Diesel              86999      Jaipur  23.08 kmpl
7     2755 CC    Diesel              36000      Mumbai  11.36 kmpl
8     1598 CC    Diesel              64430        Pune  20.54 kmpl
9     1248 CC    Diesel              65932     Chennai   22.3 kmpl
10    1462 CC    Petrol              25692       Kochi  21.56 kmpl
11    1497 CC    Petrol              60000     Kolkata   16.8 kmpl
12    1248 CC    Diesel              64424      Jaipur   25.2 kmpl
13    2179 CC    Diesel              72000       Delhi   12.7 kmpl
14    2179 CC    Diesel              85000        Pune    0.0 kmpl
15    2477 CC    Diesel             110000       Delhi   13.5 kmpl
16    1498 CC    Diesel              58950       Kochi   25.8 kmpl
17    1248 CC    Diesel              25000      Jaipur   28.4 kmpl
18    1461 CC    Diesel              77469       Kochi  20.45 kmpl
19    2143 CC    Diesel              78500   Bangalore  14.84 kmpl
20    1995 CC    Diesel              32982       Kochi  22.69 kmpl
21    1248 CC    Diesel              55392   Bangalore  23.65 kmpl
22    1984 CC    Petrol              55985      Mumbai  13.53 kmpl
23    1197 CC    Petrol              45807     Kolkata   18.5 kmpl
24    1598 CC    Petrol              33000     Kolkata   14.4 kmpl
25    1497 CC    Petrol              51920      Mumbai   16.8 kmpl
26    1461 CC    Diesel              54000   Hyderabad  23.08 kmpl
27     998 CC    Petrol              54000   Hyderabad  20.92 kmpl
28    1199 CC    Petrol              37430       Kochi   17.5 kmpl
29    2494 CC    Diesel             262000      Mumbai   12.8 kmpl
...       ...       ...                ...         ...         ...
7223  1991 CC    Diesel              99120       Kochi   11.5 kmpl
7224  1198 CC    Petrol              36000     Chennai  19.83 kmpl
7225  1798 CC    Petrol              40000       Delhi   13.1 kmpl
7226  1086 CC    Petrol              41000   Ahmedabad    0.0 kmpl
7227  1461 CC    Diesel             160000     Chennai   19.2 kmpl
7228  1047 CC    Diesel              41413        Pune  27.28 kmpl
7229  1598 CC    Petrol              67500      Mumbai   14.4 kmpl
7230  1197 CC    Petrol              30315        Pune   18.6 kmpl
7231  1497 CC    Petrol              39015       Kochi   17.0 kmpl
7232  1368 CC    Petrol               6000      Mumbai   16.0 kmpl
7233  1968 CC    Diesel              21143   Bangalore  16.55 kmpl
7234  1591 CC    Petrol              42203       Kochi   17.1 kmpl
7235  1248 CC    Diesel              21380       Kochi   24.3 kmpl
7236  1197 CC    Petrol              23955       Kochi   18.6 kmpl
7237  1498 CC    Diesel              38568     Kolkata   25.8 kmpl
7238  1968 CC    Diesel              64000   Hyderabad  16.55 kmpl
7239  1198 CC    Petrol              57000   Hyderabad   15.5 kmpl
7240  1498 CC    Diesel              44556  Coimbatore   27.3 kmpl
7241  2993 CC    Diesel              80000       Delhi  16.73 kmpl
7242  1197 CC    Petrol              39000     Kolkata   18.9 kmpl
7243  1461 CC    Diesel              70000     Chennai  19.87 kmpl
7244  1399 CC    Petrol              45463        Pune  14.49 kmpl
7245  1198 CC    Petrol              44776       Kochi   18.0 kmpl
7246  1197 CC    Petrol              18242  Coimbatore   18.9 kmpl
7247   814 CC    Petrol              21190  Coimbatore   21.1 kmpl
7248  1598 CC    Diesel              89411   Hyderabad  20.54 kmpl
7249  1197 CC    Petrol              59000      Mumbai  17.21 kmpl
7250  1461 CC    Diesel              28000     Kolkata  23.08 kmpl
7251  1197 CC    Petrol              52262        Pune   17.2 kmpl
7252  2148 CC    Diesel              72443       Kochi   10.0 kmpl

                                                   Name   New_Price  \
0                                Maruti Wagon R LXI CNG         NaN
1                      Hyundai Creta 1.6 CRDi SX Option         NaN
2                                          Honda Jazz V   8.61 Lakh
3                                     Maruti Ertiga VDI         NaN
4                       Audi A4 New 2.0 TDI Multitronic         NaN
5                       Hyundai EON LPG Era Plus Option         NaN
6                                Nissan Micra Diesel XV         NaN
7                     Toyota Innova Crysta 2.8 GX AT 8S     21 Lakh
8                   Volkswagen Vento Diesel Comfortline         NaN
9                        Tata Indica Vista Quadrajet LS         NaN
10                                     Maruti Ciaz Zeta  10.65 Lakh
11                          Honda City 1.5 V AT Sunroof         NaN
12                                Maruti Swift VDI BSIV         NaN
13                     Land Rover Range Rover 2.2L Pure         NaN
14                       Land Rover Freelander 2 TD4 SE         NaN
15                          Mitsubishi Pajero Sport 4X4  32.01 Lakh
16                                Honda Amaze S i-Dtech         NaN
17                                Maruti Swift DDiS VDI         NaN
18                  Renault Duster 85PS Diesel RxL Plus         NaN
19     Mercedes-Benz New C-Class C 220 CDI BE Avantgare         NaN
20                                    BMW 3 Series 320d  47.87 Lakh
21                        Maruti S Cross DDiS 200 Alpha         NaN
22                 Audi A6 2011-2015 35 TFSI Technology         NaN
23                                Hyundai i20 1.2 Magna         NaN
24                  Volkswagen Vento Petrol Highline AT         NaN
25                         Honda City Corporate Edition         NaN
26                               Nissan Micra Diesel XV         NaN
27                        Maruti Alto K10 2010-2014 VXI         NaN
28                                  Honda WRV i-VTEC VX  10.57 Lakh
29                  Toyota Innova 2.5 V Diesel 7-seater         NaN
...                                                 ...         ...
7223                               Chevrolet Captiva LT         NaN
7224                                 Datsun GO T Petrol   5.53 Lakh
7225                       Skoda Superb Petrol Ambition         NaN
7226                             Hyundai Santro Xing GL         NaN
7227              Mahindra Renault Logan 1.5 DLE Diesel         NaN
7228                 Tata Tiago 1.05 Revotorq XT Option   7.06 Lakh
7229                Volkswagen Vento Petrol Highline AT         NaN
7230                              Hyundai i20 1.2 Spotz         NaN
7231                  Ford EcoSport 1.5 Petrol Ambiente   8.79 Lakh
7232                             Jeep Compass 1.4 Sport  18.16 Lakh
7233                                    Audi A4 2.0 TDI         NaN
7234                      Hyundai Verna 1.6 SX VTVT (O)         NaN
7235                           Maruti Vitara Brezza ZDi  10.57 Lakh
7236                       Hyundai Elite i20 Magna Plus   7.08 Lakh
7237                              Honda Amaze S i-Dtech         NaN
7238                                    Audi A4 2.0 TDI         NaN
7239                          Honda Amaze VX AT i-Vtech         NaN
7240                            Honda Jazz 1.5 V i DTEC         NaN
7241                            BMW 5 Series 525d Sedan         NaN
7242                      Hyundai Grand i10 Asta Option         NaN
7243                     Renault Duster 85PS Diesel RxL         NaN
7244                              Chevrolet Aveo 1.4 LS         NaN
7245                              Honda Amaze S i-Vtech         NaN
7246                          Hyundai Grand i10 AT Asta         NaN
7247                            Hyundai EON D Lite Plus         NaN
7248                  Volkswagen Vento Diesel Trendline         NaN
7249                             Volkswagen Polo GT TSI         NaN
7250                             Nissan Micra Diesel XV         NaN
7251                             Volkswagen Polo GT TSI         NaN
7252  Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...         NaN

          Owner_Type       Power  Price ...   z4 zdi  zen  zest  zeta  \
0              First   58.16 bhp   1.75 ...    0   0    0     0     0
1              First   126.2 bhp  12.50 ...    0   0    0     0     0
2              First    88.7 bhp   4.50 ...    0   0    0     0     0
3              First   88.76 bhp   6.00 ...    0   0    0     0     0
4             Second   140.8 bhp  17.74 ...    0   0    0     0     0
5              First    55.2 bhp   2.35 ...    0   0    0     0     0
6              First    63.1 bhp   3.50 ...    0   0    0     0     0
7              First   171.5 bhp  17.50 ...    0   0    0     0     0
8              First   103.6 bhp   5.20 ...    0   0    0     0     0
9             Second      74 bhp   1.95 ...    0   0    0     0     0
10             First  103.25 bhp   9.95 ...    0   0    0     0     1
11             First   116.3 bhp   4.49 ...    0   0    0     0     0
12             First      74 bhp   5.60 ...    0   0    0     0     0
13             First   187.7 bhp  27.00 ...    0   0    0     0     0
14            Second     115 bhp  17.50 ...    0   0    0     0     0
15             First  175.56 bhp  15.00 ...    0   0    0     0     0
16             First    98.6 bhp   5.40 ...    0   0    0     0     0
17             First      74 bhp   5.99 ...    0   0    0     0     0
18             First    83.8 bhp   6.34 ...    0   0    0     0     0
19             First  167.62 bhp  28.00 ...    0   0    0     0     0
20             First     190 bhp  18.55 ...    0   0    0     0     0
21            Second    88.5 bhp   8.25 ...    0   0    0     0     0
22             First  177.01 bhp  23.50 ...    0   0    0     0     0
23             First      80 bhp   1.87 ...    0   0    0     0     0
24             First   103.6 bhp   2.85 ...    0   0    0     0     0
25             First   116.3 bhp   4.25 ...    0   0    0     0     0
26             First    63.1 bhp   4.25 ...    0   0    0     0     0
27            Second    67.1 bhp   2.75 ...    0   0    0     0     0
28             First    88.7 bhp   9.90 ...    0   0    0     0     0
29    Fourth & Above     102 bhp   4.00 ...    0   0    0     0     0
...              ...         ...    ... ...   ..  ..  ...   ...   ...
7223           First   147.9 bhp    NaN ...    0   0    0     0     0
7224           First      67 bhp    NaN ...    0   0    0     0     0
7225           First   157.8 bhp    NaN ...    0   0    0     0     0
7226           First      62 bhp    NaN ...    0   0    0     0     0
7227          Second      65 bhp    NaN ...    0   0    0     0     0
7228           First      69 bhp    NaN ...    0   0    0     0     0
7229          Second   103.6 bhp    NaN ...    0   0    0     0     0
7230           First   81.83 bhp    NaN ...    0   0    0     0     0
7231           First  121.36 bhp    NaN ...    0   0    0     0     0
7232           First     160 bhp    NaN ...    0   0    0     0     0
7233           First  147.51 bhp    NaN ...    0   0    0     0     0
7234           First   121.3 bhp    NaN ...    0   0    0     0     0
7235           First    88.5 bhp    NaN ...    0   1    0     0     0
7236           First   81.86 bhp    NaN ...    0   0    0     0     0
7237           First    98.6 bhp    NaN ...    0   0    0     0     0
7238           First  147.51 bhp    NaN ...    0   0    0     0     0
7239           First    86.7 bhp    NaN ...    0   0    0     0     0
7240           First    98.6 bhp    NaN ...    0   0    0     0     0
7241           First     218 bhp    NaN ...    0   0    0     0     0
7242           First      82 bhp    NaN ...    0   0    0     0     0
7243           First    83.8 bhp    NaN ...    0   0    0     0     0
7244           First    92.7 bhp    NaN ...    0   0    0     0     0
7245           First    86.7 bhp    NaN ...    0   0    0     0     0
7246           First      82 bhp    NaN ...    0   0    0     0     0
7247           First    55.2 bhp    NaN ...    0   0    0     0     0
7248           First   103.6 bhp    NaN ...    0   0    0     0     0
7249           First   103.6 bhp    NaN ...    0   0    0     0     0
7250           First    63.1 bhp    NaN ...    0   0    0     0     0
7251           Third   103.6 bhp    NaN ...    0   0    0     0     0
7252           First     170 bhp    NaN ...    0   0    0     0     0

      zipdrive  zipplus  zlx  zx  zxi
0            0        0    0   0    0
1            0        0    0   0    0
2            0        0    0   0    0
3            0        0    0   0    0
4            0        0    0   0    0
5            0        0    0   0    0
6            0        0    0   0    0
7            0        0    0   0    0
8            0        0    0   0    0
9            0        0    0   0    0
10           0        0    0   0    0
11           0        0    0   0    0
12           0        0    0   0    0
13           0        0    0   0    0
14           0        0    0   0    0
15           0        0    0   0    0
16           0        0    0   0    0
17           0        0    0   0    0
18           0        0    0   0    0
19           0        0    0   0    0
20           0        0    0   0    0
21           0        0    0   0    0
22           0        0    0   0    0
23           0        0    0   0    0
24           0        0    0   0    0
25           0        0    0   0    0
26           0        0    0   0    0
27           0        0    0   0    0
28           0        0    0   0    0
29           0        0    0   0    0
...        ...      ...  ...  ..  ...
7223         0        0    0   0    0
7224         0        0    0   0    0
7225         0        0    0   0    0
7226         0        0    0   0    0
7227         0        0    0   0    0
7228         0        0    0   0    0
7229         0        0    0   0    0
7230         0        0    0   0    0
7231         0        0    0   0    0
7232         0        0    0   0    0
7233         0        0    0   0    0
7234         0        0    0   0    0
7235         0        0    0   0    0
7236         0        0    0   0    0
7237         0        0    0   0    0
7238         0        0    0   0    0
7239         0        0    0   0    0
7240         0        0    0   0    0
7241         0        0    0   0    0
7242         0        0    0   0    0
7243         0        0    0   0    0
7244         0        0    0   0    0
7245         0        0    0   0    0
7246         0        0    0   0    0
7247         0        0    0   0    0
7248         0        0    0   0    0
7249         0        0    0   0    0
7250         0        0    0   0    0
7251         0        0    0   0    0
7252         0        0    0   0    0

[7253 rows x 907 columns]

In [12]:
print(car_all_ex.isnull().sum(axis = 0))

Engine                 46
Fuel_Type               0
Kilometers_Driven       0
Location                0
Mileage                 2
Name                    0
New_Price            6247
Owner_Type              0
Power                  46
Price                1234
Seats                  53
Transmission            0
Year                    0
1                       0
10                      0
100                     0
1000                    0
105                     0
107                     0
11                      0
110                     0
110ps                   0
118d                    0
11l                     0
12                      0
124                     0
12l                     0
12p                     0
12t                     0
13                      0
                     ...
xj                      0
xl                      0
xline                   0
xlt                     0
xm                      0
xms                     0
xo                      0
xp                      0
xt                      0
xta                     0
xtrail                  0
xuv300                  0
xuv500                  0
xv                      0
xxi                     0
xylo                    0
xz                      0
xza                     0
yeti                    0
z                       0
z4                      0
zdi                     0
zen                     0
zest                    0
zeta                    0
zipdrive                0
zipplus                 0
zlx                     0
zx                      0
zxi                     0
Length: 907, dtype: int64

In [13]:
le = preprocessing.LabelEncoder()
car_all_ex['Location'] = le.fit_transform(car_all_ex['Location'])
car_all_ex['Kilometers_Driven'] = le.fit_transform(car_all_ex['Kilometers_Driven'])
car_all_ex['Fuel_Type'] = le.fit_transform(car_all_ex['Fuel_Type'])
car_all_ex['Transmission'] = le.fit_transform(car_all_ex['Transmission'])
car_all_ex['Owner_Type'] = le.fit_transform(car_all_ex['Owner_Type'])
print(car_all_ex)

       Engine  Fuel_Type  Kilometers_Driven  Location     Mileage  \
0      998 CC          0               2794         9  26.6 km/kg
1     1582 CC          1               1344        10  19.67 kmpl
2     1199 CC          4               1614         2   18.2 kmpl
3     1248 CC          1               3190         2  20.77 kmpl
4     1968 CC          1               1335         3   15.2 kmpl
5      814 CC          3               2884         5  21.1 km/kg
6     1461 CC          1               3189         6  23.08 kmpl
7     2755 CC          1               1097         9  11.36 kmpl
8     1598 CC          1               2484        10  20.54 kmpl
9     1248 CC          1               2565         2   22.3 kmpl
10    1462 CC          4                633         7  21.56 kmpl
11    1497 CC          4               2263         8   16.8 kmpl
12    1248 CC          1               2483         6   25.2 kmpl
13    2179 CC          1               2794         4   12.7 kmpl
14    2179 CC          1               3152        10    0.0 kmpl
15    2477 CC          1               3421         4   13.5 kmpl
16    1498 CC          1               2216         7   25.8 kmpl
17    1248 CC          1                596         6   28.4 kmpl
18    1461 CC          1               2967         7  20.45 kmpl
19    2143 CC          1               2992         1  14.84 kmpl
20    1995 CC          1                967         7  22.69 kmpl
21    1248 CC          1               2035         1  23.65 kmpl
22    1984 CC          4               2066         9  13.53 kmpl
23    1197 CC          4               1609         8   18.5 kmpl
24    1598 CC          4                969         8   14.4 kmpl
25    1497 CC          4               1865         9   16.8 kmpl
26    1461 CC          1               1961         5  23.08 kmpl
27     998 CC          4               1961         5  20.92 kmpl
28    1199 CC          4               1181         7   17.5 kmpl
29    2494 CC          1               3648         9   12.8 kmpl
...       ...        ...                ...       ...         ...
7223  1991 CC          1               3346         7   11.5 kmpl
7224  1198 CC          4               1097         2  19.83 kmpl
7225  1798 CC          4               1305         4   13.1 kmpl
7226  1086 CC          4               1344         0    0.0 kmpl
7227  1461 CC          1               3587         2   19.2 kmpl
7228  1047 CC          1               1369        10  27.28 kmpl
7229  1598 CC          4               2623         9   14.4 kmpl
7230  1197 CC          4                829        10   18.6 kmpl
7231  1497 CC          4               1263         7   17.0 kmpl
7232  1368 CC          4                 66         9   16.0 kmpl
7233  1968 CC          1                456         1  16.55 kmpl
7234  1591 CC          4               1418         7   17.1 kmpl
7235  1248 CC          1                464         7   24.3 kmpl
7236  1197 CC          4                555         7   18.6 kmpl
7237  1498 CC          1               1238         8   25.8 kmpl
7238  1968 CC          1               2463         5  16.55 kmpl
7239  1198 CC          4               2118         5   15.5 kmpl
7240  1498 CC          1               1540         3   27.3 kmpl
7241  2993 CC          1               3023         4  16.73 kmpl
7242  1197 CC          4               1259         8   18.9 kmpl
7243  1461 CC          1               2720         2  19.87 kmpl
7244  1399 CC          4               1592        10  14.49 kmpl
7245  1198 CC          4               1549         7   18.0 kmpl
7246  1197 CC          4                354         3   18.9 kmpl
7247   814 CC          4                457         3   21.1 kmpl
7248  1598 CC          1               3233         5  20.54 kmpl
7249  1197 CC          4               2222         9  17.21 kmpl
7250  1461 CC          1                733         8  23.08 kmpl
7251  1197 CC          4               1888        10   17.2 kmpl
7252  2148 CC          1               2816         7   10.0 kmpl

                                                   Name   New_Price  \
0                                Maruti Wagon R LXI CNG         NaN
1                      Hyundai Creta 1.6 CRDi SX Option         NaN
2                                          Honda Jazz V   8.61 Lakh
3                                     Maruti Ertiga VDI         NaN
4                       Audi A4 New 2.0 TDI Multitronic         NaN
5                       Hyundai EON LPG Era Plus Option         NaN
6                                Nissan Micra Diesel XV         NaN
7                     Toyota Innova Crysta 2.8 GX AT 8S     21 Lakh
8                   Volkswagen Vento Diesel Comfortline         NaN
9                        Tata Indica Vista Quadrajet LS         NaN
10                                     Maruti Ciaz Zeta  10.65 Lakh
11                          Honda City 1.5 V AT Sunroof         NaN
12                                Maruti Swift VDI BSIV         NaN
13                     Land Rover Range Rover 2.2L Pure         NaN
14                       Land Rover Freelander 2 TD4 SE         NaN
15                          Mitsubishi Pajero Sport 4X4  32.01 Lakh
16                                Honda Amaze S i-Dtech         NaN
17                                Maruti Swift DDiS VDI         NaN
18                  Renault Duster 85PS Diesel RxL Plus         NaN
19     Mercedes-Benz New C-Class C 220 CDI BE Avantgare         NaN
20                                    BMW 3 Series 320d  47.87 Lakh
21                        Maruti S Cross DDiS 200 Alpha         NaN
22                 Audi A6 2011-2015 35 TFSI Technology         NaN
23                                Hyundai i20 1.2 Magna         NaN
24                  Volkswagen Vento Petrol Highline AT         NaN
25                         Honda City Corporate Edition         NaN
26                               Nissan Micra Diesel XV         NaN
27                        Maruti Alto K10 2010-2014 VXI         NaN
28                                  Honda WRV i-VTEC VX  10.57 Lakh
29                  Toyota Innova 2.5 V Diesel 7-seater         NaN
...                                                 ...         ...
7223                               Chevrolet Captiva LT         NaN
7224                                 Datsun GO T Petrol   5.53 Lakh
7225                       Skoda Superb Petrol Ambition         NaN
7226                             Hyundai Santro Xing GL         NaN
7227              Mahindra Renault Logan 1.5 DLE Diesel         NaN
7228                 Tata Tiago 1.05 Revotorq XT Option   7.06 Lakh
7229                Volkswagen Vento Petrol Highline AT         NaN
7230                              Hyundai i20 1.2 Spotz         NaN
7231                  Ford EcoSport 1.5 Petrol Ambiente   8.79 Lakh
7232                             Jeep Compass 1.4 Sport  18.16 Lakh
7233                                    Audi A4 2.0 TDI         NaN
7234                      Hyundai Verna 1.6 SX VTVT (O)         NaN
7235                           Maruti Vitara Brezza ZDi  10.57 Lakh
7236                       Hyundai Elite i20 Magna Plus   7.08 Lakh
7237                              Honda Amaze S i-Dtech         NaN
7238                                    Audi A4 2.0 TDI         NaN
7239                          Honda Amaze VX AT i-Vtech         NaN
7240                            Honda Jazz 1.5 V i DTEC         NaN
7241                            BMW 5 Series 525d Sedan         NaN
7242                      Hyundai Grand i10 Asta Option         NaN
7243                     Renault Duster 85PS Diesel RxL         NaN
7244                              Chevrolet Aveo 1.4 LS         NaN
7245                              Honda Amaze S i-Vtech         NaN
7246                          Hyundai Grand i10 AT Asta         NaN
7247                            Hyundai EON D Lite Plus         NaN
7248                  Volkswagen Vento Diesel Trendline         NaN
7249                             Volkswagen Polo GT TSI         NaN
7250                             Nissan Micra Diesel XV         NaN
7251                             Volkswagen Polo GT TSI         NaN
7252  Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...         NaN

      Owner_Type       Power  Price ...   z4  zdi  zen  zest  zeta  zipdrive  \
0              0   58.16 bhp   1.75 ...    0    0    0     0     0         0
1              0   126.2 bhp  12.50 ...    0    0    0     0     0         0
2              0    88.7 bhp   4.50 ...    0    0    0     0     0         0
3              0   88.76 bhp   6.00 ...    0    0    0     0     0         0
4              2   140.8 bhp  17.74 ...    0    0    0     0     0         0
5              0    55.2 bhp   2.35 ...    0    0    0     0     0         0
6              0    63.1 bhp   3.50 ...    0    0    0     0     0         0
7              0   171.5 bhp  17.50 ...    0    0    0     0     0         0
8              0   103.6 bhp   5.20 ...    0    0    0     0     0         0
9              2      74 bhp   1.95 ...    0    0    0     0     0         0
10             0  103.25 bhp   9.95 ...    0    0    0     0     1         0
11             0   116.3 bhp   4.49 ...    0    0    0     0     0         0
12             0      74 bhp   5.60 ...    0    0    0     0     0         0
13             0   187.7 bhp  27.00 ...    0    0    0     0     0         0
14             2     115 bhp  17.50 ...    0    0    0     0     0         0
15             0  175.56 bhp  15.00 ...    0    0    0     0     0         0
16             0    98.6 bhp   5.40 ...    0    0    0     0     0         0
17             0      74 bhp   5.99 ...    0    0    0     0     0         0
18             0    83.8 bhp   6.34 ...    0    0    0     0     0         0
19             0  167.62 bhp  28.00 ...    0    0    0     0     0         0
20             0     190 bhp  18.55 ...    0    0    0     0     0         0
21             2    88.5 bhp   8.25 ...    0    0    0     0     0         0
22             0  177.01 bhp  23.50 ...    0    0    0     0     0         0
23             0      80 bhp   1.87 ...    0    0    0     0     0         0
24             0   103.6 bhp   2.85 ...    0    0    0     0     0         0
25             0   116.3 bhp   4.25 ...    0    0    0     0     0         0
26             0    63.1 bhp   4.25 ...    0    0    0     0     0         0
27             2    67.1 bhp   2.75 ...    0    0    0     0     0         0
28             0    88.7 bhp   9.90 ...    0    0    0     0     0         0
29             1     102 bhp   4.00 ...    0    0    0     0     0         0
...          ...         ...    ... ...   ..  ...  ...   ...   ...       ...
7223           0   147.9 bhp    NaN ...    0    0    0     0     0         0
7224           0      67 bhp    NaN ...    0    0    0     0     0         0
7225           0   157.8 bhp    NaN ...    0    0    0     0     0         0
7226           0      62 bhp    NaN ...    0    0    0     0     0         0
7227           2      65 bhp    NaN ...    0    0    0     0     0         0
7228           0      69 bhp    NaN ...    0    0    0     0     0         0
7229           2   103.6 bhp    NaN ...    0    0    0     0     0         0
7230           0   81.83 bhp    NaN ...    0    0    0     0     0         0
7231           0  121.36 bhp    NaN ...    0    0    0     0     0         0
7232           0     160 bhp    NaN ...    0    0    0     0     0         0
7233           0  147.51 bhp    NaN ...    0    0    0     0     0         0
7234           0   121.3 bhp    NaN ...    0    0    0     0     0         0
7235           0    88.5 bhp    NaN ...    0    1    0     0     0         0
7236           0   81.86 bhp    NaN ...    0    0    0     0     0         0
7237           0    98.6 bhp    NaN ...    0    0    0     0     0         0
7238           0  147.51 bhp    NaN ...    0    0    0     0     0         0
7239           0    86.7 bhp    NaN ...    0    0    0     0     0         0
7240           0    98.6 bhp    NaN ...    0    0    0     0     0         0
7241           0     218 bhp    NaN ...    0    0    0     0     0         0
7242           0      82 bhp    NaN ...    0    0    0     0     0         0
7243           0    83.8 bhp    NaN ...    0    0    0     0     0         0
7244           0    92.7 bhp    NaN ...    0    0    0     0     0         0
7245           0    86.7 bhp    NaN ...    0    0    0     0     0         0
7246           0      82 bhp    NaN ...    0    0    0     0     0         0
7247           0    55.2 bhp    NaN ...    0    0    0     0     0         0
7248           0   103.6 bhp    NaN ...    0    0    0     0     0         0
7249           0   103.6 bhp    NaN ...    0    0    0     0     0         0
7250           0    63.1 bhp    NaN ...    0    0    0     0     0         0
7251           3   103.6 bhp    NaN ...    0    0    0     0     0         0
7252           0     170 bhp    NaN ...    0    0    0     0     0         0

      zipplus  zlx  zx  zxi
0           0    0   0    0
1           0    0   0    0
2           0    0   0    0
3           0    0   0    0
4           0    0   0    0
5           0    0   0    0
6           0    0   0    0
7           0    0   0    0
8           0    0   0    0
9           0    0   0    0
10          0    0   0    0
11          0    0   0    0
12          0    0   0    0
13          0    0   0    0
14          0    0   0    0
15          0    0   0    0
16          0    0   0    0
17          0    0   0    0
18          0    0   0    0
19          0    0   0    0
20          0    0   0    0
21          0    0   0    0
22          0    0   0    0
23          0    0   0    0
24          0    0   0    0
25          0    0   0    0
26          0    0   0    0
27          0    0   0    0
28          0    0   0    0
29          0    0   0    0
...       ...  ...  ..  ...
7223        0    0   0    0
7224        0    0   0    0
7225        0    0   0    0
7226        0    0   0    0
7227        0    0   0    0
7228        0    0   0    0
7229        0    0   0    0
7230        0    0   0    0
7231        0    0   0    0
7232        0    0   0    0
7233        0    0   0    0
7234        0    0   0    0
7235        0    0   0    0
7236        0    0   0    0
7237        0    0   0    0
7238        0    0   0    0
7239        0    0   0    0
7240        0    0   0    0
7241        0    0   0    0
7242        0    0   0    0
7243        0    0   0    0
7244        0    0   0    0
7245        0    0   0    0
7246        0    0   0    0
7247        0    0   0    0
7248        0    0   0    0
7249        0    0   0    0
7250        0    0   0    0
7251        0    0   0    0
7252        0    0   0    0

[7253 rows x 907 columns]

In [14]:
car_all_ex['Mileage'] = car_all_ex['Mileage'].str.replace(' km/kg', '')
car_all_ex['Mileage'] = car_all_ex['Mileage'].str.replace(' kmpl', '')
car_all_ex['Power'] = car_all_ex['Power'].str.replace(' bhp', '')
#car_all_ex['Power'] = car_all_ex['Power'].replace('null',np.nan)
car_all_ex['Engine'] = car_all_ex['Engine'].str.replace(' CC', '')
car_all_ex

,Engine,Fuel_Type,Kilometers_Driven,Location,Mileage,Name,New_Price,Owner_Type,Power,Price,...,z4,zdi,zen,zest,zeta,zipdrive,zipplus,zlx,zx,zxi
0,998,0,2794,9,26.6,Maruti Wagon R LXI CNG,NaN,0,58.16,1.75,...,0,0,0,0,0,0,0,0,0,0
1,1582,1,1344,10,19.67,Hyundai Creta 1.6 CRDi SX Option,NaN,0,126.2,12.50,...,0,0,0,0,0,0,0,0,0,0
2,1199,4,1614,2,18.2,Honda Jazz V,8.61 Lakh,0,88.7,4.50,...,0,0,0,0,0,0,0,0,0,0
3,1248,1,3190,2,20.77,Maruti Ertiga VDI,NaN,0,88.76,6.00,...,0,0,0,0,0,0,0,0,0,0
4,1968,1,1335,3,15.2,Audi A4 New 2.0 TDI Multitronic,NaN,2,140.8,17.74,...,0,0,0,0,0,0,0,0,0,0
5,814,3,2884,5,21.1,Hyundai EON LPG Era Plus Option,NaN,0,55.2,2.35,...,0,0,0,0,0,0,0,0,0,0
6,1461,1,3189,6,23.08,Nissan Micra Diesel XV,NaN,0,63.1,3.50,...,0,0,0,0,0,0,0,0,0,0
7,2755,1,1097,9,11.36,Toyota Innova Crysta 2.8 GX AT 8S,21 Lakh,0,171.5,17.50,...,0,0,0,0,0,0,0,0,0,0
8,1598,1,2484,10,20.54,Volkswagen Vento Diesel Comfortline,NaN,0,103.6,5.20,...,0,0,0,0,0,0,0,0,0,0
9,1248,1,2565,2,22.3,Tata Indica Vista Quadrajet LS,NaN,2,74,1.95,...,0,0,0,0,0,0,0,0,0,0
10,1462,4,633,7,21.56,Maruti Ciaz Zeta,10.65 Lakh,0,103.25,9.95,...,0,0,0,0,1,0,0,0,0,0
11,1497,4,2263,8,16.8,Honda City 1.5 V AT Sunroof,NaN,0,116.3,4.49,...,0,0,0,0,0,0,0,0,0,0
12,1248,1,2483,6,25.2,Maruti Swift VDI BSIV,NaN,0,74,5.60,...,0,0,0,0,0,0,0,0,0,0
13,2179,1,2794,4,12.7,Land Rover Range Rover 2.2L Pure,NaN,0,187.7,27.00,...,0,0,0,0,0,0,0,0,0,0
14,2179,1,3152,10,0.0,Land Rover Freelander 2 TD4 SE,NaN,2,115,17.50,...,0,0,0,0,0,0,0,0,0,0
15,2477,1,3421,4,13.5,Mitsubishi Pajero Sport 4X4,32.01 Lakh,0,175.56,15.00,...,0,0,0,0,0,0,0,0,0,0
16,1498,1,2216,7,25.8,Honda Amaze S i-Dtech,NaN,0,98.6,5.40,...,0,0,0,0,0,0,0,0,0,0
17,1248,1,596,6,28.4,Maruti Swift DDiS VDI,NaN,0,74,5.99,...,0,0,0,0,0,0,0,0,0,0
18,1461,1,2967,7,20.45,Renault Duster 85PS Diesel RxL Plus,NaN,0,83.8,6.34,...,0,0,0,0,0,0,0,0,0,0
19,2143,1,2992,1,14.84,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,NaN,0,167.62,28.00,...,0,0,0,0,0,0,0,0,0,0
20,1995,1,967,7,22.69,BMW 3 Series 320d,47.87 Lakh,0,190,18.55,...,0,0,0,0,0,0,0,0,0,0
21,1248,1,2035,1,23.65,Maruti S Cross DDiS 200 Alpha,NaN,2,88.5,8.25,...,0,0,0,0,0,0,0,0,0,0
22,1984,4,2066,9,13.53,Audi A6 2011-2015 35 TFSI Technology,NaN,0,177.01,23.50,...,0,0,0,0,0,0,0,0,0,0
23,1197,4,1609,8,18.5,Hyundai i20 1.2 Magna,NaN,0,80,1.87,...,0,0,0,0,0,0,0,0,0,0
24,1598,4,969,8,14.4,Volkswagen Vento Petrol Highline AT,NaN,0,103.6,2.85,...,0,0,0,0,0,0,0,0,0,0
25,1497,4,1865,9,16.8,Honda City Corporate Edition,NaN,0,116.3,4.25,...,0,0,0,0,0,0,0,0,0,0
26,1461,1,1961,5,23.08,Nissan Micra Diesel XV,NaN,0,63.1,4.25,...,0,0,0,0,0,0,0,0,0,0
27,998,4,1961,5,20.92,Maruti Alto K10 2010-2014 VXI,NaN,2,67.1,2.75,...,0,0,0,0,0,0,0,0,0,0
28,1199,4,1181,7,17.5,Honda WRV i-VTEC VX,10.57 Lakh,0,88.7,9.90,...,0,0,0,0,0,0,0,0,0,0
29,2494,1,3648,9,12.8,Toyota Innova 2.5 V Diesel 7-seater,NaN,1,102,4.00,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7223,1991,1,3346,7,11.5,Chevrolet Captiva LT,NaN,0,147.9,NaN,...,0,0,0,0,0,0,0,0,0,0
7224,1198,4,1097,2,19.83,Datsun GO T Petrol,5.53 Lakh,0,67,NaN,...,0,0,0,0,0,0,0,0,0,0
7225,1798,4,1305,4,13.1,Skoda Superb Petrol Ambition,NaN,0,157.8,NaN,...,0,0,0,0,0,0,0,0,0,0
7226,1086,4,1344,0,0.0,Hyundai Santro Xing GL,NaN,0,62,NaN,...,0,0,0,0,0,0,0,0,0,0
7227,1461,1,3587,2,19.2,Mahindra Renault Logan 1.5 DLE Diesel,NaN,2,65,NaN,...,0,0,0,0,0,0,0,0,0,0
7228,1047,1,1369,10,27.28,Tata Tiago 1.05 Revotorq XT Option,7.06 Lakh,0,69,NaN,...,0,0,0,0,0,0,0,0,0,0
7229,1598,4,2623,9,14.4,Volkswagen Vento Petrol Highline AT,NaN,2,103.6,NaN,...,0,0,0,0,0,0,0,0,0,0
7230,1197,4,829,10,18.6,Hyundai i20 1.2 Spotz,NaN,0,81.83,NaN,...,0,0,0,0,0,0,0,0,0,0
7231,1497,4,1263,7,17.0,Ford EcoSport 1.5 Petrol Ambiente,8.79 Lakh,0,121.36,NaN,...,0,0,0,0,0,0,0,0,0,0
7232,1368,4,66,9,16.0,Jeep Compass 1.4 Sport,18.16 Lakh,0,160,NaN,...,0,0,0,0,0,0,0,0,0,0
7233,1968,1,456,1,16.55,Audi A4 2.0 TDI,NaN,0,147.51,NaN,...,0,0,0,0,0,0,0,0,0,0
7234,1591,4,1418,7,17.1,Hyundai Verna 1.6 SX VTVT (O),NaN,0,121.3,NaN,...,0,0,0,0,0,0,0,0,0,0
7235,1248,1,464,7,24.3,Maruti Vitara Brezza ZDi,10.57 Lakh,0,88.5,NaN,...,0,1,0,0,0,0,0,0,0,0
7236,1197,4,555,7,18.6,Hyundai Elite i20 Magna Plus,7.08 Lakh,0,81.86,NaN,...,0,0,0,0,0,0,0,0,0,0
7237,1498,1,1238,8,25.8,Honda Amaze S i-Dtech,NaN,0,98.6,NaN,...,0,0,0,0,0,0,0,0,0,0
7238,1968,1,2463,5,16.55,Audi A4 2.0 TDI,NaN,0,147.51,NaN,...,0,0,0,0,0,0,0,0,0,0
7239,1198,4,2118,5,15.5,Honda Amaze VX AT i-Vtech,NaN,0,86.7,NaN,...,0,0,0,0,0,0,0,0,0,0
7240,1498,1,1540,3,27.3,Honda Jazz 1.5 V i DTEC,NaN,0,98.6,NaN,...,0,0,0,0,0,0,0,0,0,0
7241,2993,1,3023,4,16.73,BMW 5 Series 525d Sedan,NaN,0,218,NaN,...,0,0,0,0,0,0,0,0,0,0
7242,1197,4,1259,8,18.9,Hyundai Grand i10 Asta Option,NaN,0,82,NaN,...,0,0,0,0,0,0,0,0,0,0
7243,1461,1,2720,2,19.87,Renault Duster 85PS Diesel RxL,NaN,0,83.8,NaN,...,0,0,0,0,0,0,0,0,0,0
7244,1399,4,1592,10,14.49,Chevrolet Aveo 1.4 LS,NaN,0,92.7,NaN,...,0,0,0,0,0,0,0,0,0,0
7245,1198,4,1549,7,18.0,Honda Amaze S i-Vtech,NaN,0,86.7,NaN,...,0,0,0,0,0,0,0,0,0,0
7246,1197,4,354,3,18.9,Hyundai Grand i10 AT Asta,NaN,0,82,NaN,...,0,0,0,0,0,0,0,0,0,0
7247,814,4,457,3,21.1,Hyundai EON D Lite Plus,NaN,0,55.2,NaN,...,0,0,0,0,0,0,0,0,0,0
7248,1598,1,3233,5,20.54,Volkswagen Vento Diesel Trendline,NaN,0,103.6,NaN,...,0,0,0,0,0,0,0,0,0,0
7249,1197,4,2222,9,17.21,Volkswagen Polo GT TSI,NaN,0,103.6,NaN,...,0,0,0,0,0,0,0,0,0,0
7250,1461,1,733,8,23.08,Nissan Micra Diesel XV,NaN,0,63.1,NaN,...,0,0,0,0,0,0,0,0,0,0
7251,1197,4,1888,10,17.2,Volkswagen Polo GT TSI,NaN,3,103.6,NaN,...,0,0,0,0,0,0,0,0,0,0
7252,2148,1,2816,7,10.0,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,NaN,0,170,NaN,...,0,0,0,0,0,0,0,0,0,0

In [15]:
car_all_ex["Location"] = pd.to_numeric(car_all_ex["Location"])
car_all_ex["Year"] = pd.to_numeric(car_all_ex["Year"])
car_all_ex["Kilometers_Driven"] = pd.to_numeric(car_all_ex["Kilometers_Driven"])
car_all_ex["Fuel_Type"] = pd.to_numeric(car_all_ex["Fuel_Type"])
car_all_ex["Transmission"] = pd.to_numeric(car_all_ex["Transmission"])
car_all_ex["Owner_Type"] = pd.to_numeric(car_all_ex["Owner_Type"])
car_all_ex["Mileage"] = pd.to_numeric(car_all_ex["Mileage"])
car_all_ex["Engine"] = pd.to_numeric(car_all_ex["Engine"])

car_all_ex["Seats"] = pd.to_numeric(car_all_ex["Seats"])

In [16]:
car_all_ex = car_all_ex.drop(['New_Price'],axis=1)
car_all_ex

,Engine,Fuel_Type,Kilometers_Driven,Location,Mileage,Name,Owner_Type,Power,Price,Seats,...,z4,zdi,zen,zest,zeta,zipdrive,zipplus,zlx,zx,zxi
0,998.0,0,2794,9,26.60,Maruti Wagon R LXI CNG,0,58.16,1.75,5.0,...,0,0,0,0,0,0,0,0,0,0
1,1582.0,1,1344,10,19.67,Hyundai Creta 1.6 CRDi SX Option,0,126.2,12.50,5.0,...,0,0,0,0,0,0,0,0,0,0
2,1199.0,4,1614,2,18.20,Honda Jazz V,0,88.7,4.50,5.0,...,0,0,0,0,0,0,0,0,0,0
3,1248.0,1,3190,2,20.77,Maruti Ertiga VDI,0,88.76,6.00,7.0,...,0,0,0,0,0,0,0,0,0,0
4,1968.0,1,1335,3,15.20,Audi A4 New 2.0 TDI Multitronic,2,140.8,17.74,5.0,...,0,0,0,0,0,0,0,0,0,0
5,814.0,3,2884,5,21.10,Hyundai EON LPG Era Plus Option,0,55.2,2.35,5.0,...,0,0,0,0,0,0,0,0,0,0
6,1461.0,1,3189,6,23.08,Nissan Micra Diesel XV,0,63.1,3.50,5.0,...,0,0,0,0,0,0,0,0,0,0
7,2755.0,1,1097,9,11.36,Toyota Innova Crysta 2.8 GX AT 8S,0,171.5,17.50,8.0,...,0,0,0,0,0,0,0,0,0,0
8,1598.0,1,2484,10,20.54,Volkswagen Vento Diesel Comfortline,0,103.6,5.20,5.0,...,0,0,0,0,0,0,0,0,0,0
9,1248.0,1,2565,2,22.30,Tata Indica Vista Quadrajet LS,2,74,1.95,5.0,...,0,0,0,0,0,0,0,0,0,0
10,1462.0,4,633,7,21.56,Maruti Ciaz Zeta,0,103.25,9.95,5.0,...,0,0,0,0,1,0,0,0,0,0
11,1497.0,4,2263,8,16.80,Honda City 1.5 V AT Sunroof,0,116.3,4.49,5.0,...,0,0,0,0,0,0,0,0,0,0
12,1248.0,1,2483,6,25.20,Maruti Swift VDI BSIV,0,74,5.60,5.0,...,0,0,0,0,0,0,0,0,0,0
13,2179.0,1,2794,4,12.70,Land Rover Range Rover 2.2L Pure,0,187.7,27.00,5.0,...,0,0,0,0,0,0,0,0,0,0
14,2179.0,1,3152,10,0.00,Land Rover Freelander 2 TD4 SE,2,115,17.50,5.0,...,0,0,0,0,0,0,0,0,0,0
15,2477.0,1,3421,4,13.50,Mitsubishi Pajero Sport 4X4,0,175.56,15.00,7.0,...,0,0,0,0,0,0,0,0,0,0
16,1498.0,1,2216,7,25.80,Honda Amaze S i-Dtech,0,98.6,5.40,5.0,...,0,0,0,0,0,0,0,0,0,0
17,1248.0,1,596,6,28.40,Maruti Swift DDiS VDI,0,74,5.99,5.0,...,0,0,0,0,0,0,0,0,0,0
18,1461.0,1,2967,7,20.45,Renault Duster 85PS Diesel RxL Plus,0,83.8,6.34,5.0,...,0,0,0,0,0,0,0,0,0,0
19,2143.0,1,2992,1,14.84,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,0,167.62,28.00,5.0,...,0,0,0,0,0,0,0,0,0,0
20,1995.0,1,967,7,22.69,BMW 3 Series 320d,0,190,18.55,5.0,...,0,0,0,0,0,0,0,0,0,0
21,1248.0,1,2035,1,23.65,Maruti S Cross DDiS 200 Alpha,2,88.5,8.25,5.0,...,0,0,0,0,0,0,0,0,0,0
22,1984.0,4,2066,9,13.53,Audi A6 2011-2015 35 TFSI Technology,0,177.01,23.50,5.0,...,0,0,0,0,0,0,0,0,0,0
23,1197.0,4,1609,8,18.50,Hyundai i20 1.2 Magna,0,80,1.87,5.0,...,0,0,0,0,0,0,0,0,0,0
24,1598.0,4,969,8,14.40,Volkswagen Vento Petrol Highline AT,0,103.6,2.85,5.0,...,0,0,0,0,0,0,0,0,0,0
25,1497.0,4,1865,9,16.80,Honda City Corporate Edition,0,116.3,4.25,5.0,...,0,0,0,0,0,0,0,0,0,0
26,1461.0,1,1961,5,23.08,Nissan Micra Diesel XV,0,63.1,4.25,5.0,...,0,0,0,0,0,0,0,0,0,0
27,998.0,4,1961,5,20.92,Maruti Alto K10 2010-2014 VXI,2,67.1,2.75,5.0,...,0,0,0,0,0,0,0,0,0,0
28,1199.0,4,1181,7,17.50,Honda WRV i-VTEC VX,0,88.7,9.90,5.0,...,0,0,0,0,0,0,0,0,0,0
29,2494.0,1,3648,9,12.80,Toyota Innova 2.5 V Diesel 7-seater,1,102,4.00,7.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7223,1991.0,1,3346,7,11.50,Chevrolet Captiva LT,0,147.9,NaN,7.0,...,0,0,0,0,0,0,0,0,0,0
7224,1198.0,4,1097,2,19.83,Datsun GO T Petrol,0,67,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7225,1798.0,4,1305,4,13.10,Skoda Superb Petrol Ambition,0,157.8,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7226,1086.0,4,1344,0,0.00,Hyundai Santro Xing GL,0,62,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7227,1461.0,1,3587,2,19.20,Mahindra Renault Logan 1.5 DLE Diesel,2,65,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7228,1047.0,1,1369,10,27.28,Tata Tiago 1.05 Revotorq XT Option,0,69,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7229,1598.0,4,2623,9,14.40,Volkswagen Vento Petrol Highline AT,2,103.6,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7230,1197.0,4,829,10,18.60,Hyundai i20 1.2 Spotz,0,81.83,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7231,1497.0,4,1263,7,17.00,Ford EcoSport 1.5 Petrol Ambiente,0,121.36,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7232,1368.0,4,66,9,16.00,Jeep Compass 1.4 Sport,0,160,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7233,1968.0,1,456,1,16.55,Audi A4 2.0 TDI,0,147.51,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7234,1591.0,4,1418,7,17.10,Hyundai Verna 1.6 SX VTVT (O),0,121.3,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7235,1248.0,1,464,7,24.30,Maruti Vitara Brezza ZDi,0,88.5,NaN,5.0,...,0,1,0,0,0,0,0,0,0,0
7236,1197.0,4,555,7,18.60,Hyundai Elite i20 Magna Plus,0,81.86,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7237,1498.0,1,1238,8,25.80,Honda Amaze S i-Dtech,0,98.6,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7238,1968.0,1,2463,5,16.55,Audi A4 2.0 TDI,0,147.51,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7239,1198.0,4,2118,5,15.50,Honda Amaze VX AT i-Vtech,0,86.7,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7240,1498.0,1,1540,3,27.30,Honda Jazz 1.5 V i DTEC,0,98.6,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7241,2993.0,1,3023,4,16.73,BMW 5 Series 525d Sedan,0,218,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7242,1197.0,4,1259,8,18.90,Hyundai Grand i10 Asta Option,0,82,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7243,1461.0,1,2720,2,19.87,Renault Duster 85PS Diesel RxL,0,83.8,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7244,1399.0,4,1592,10,14.49,Chevrolet Aveo 1.4 LS,0,92.7,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7245,1198.0,4,1549,7,18.00,Honda Amaze S i-Vtech,0,86.7,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7246,1197.0,4,354,3,18.90,Hyundai Grand i10 AT Asta,0,82,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7247,814.0,4,457,3,21.10,Hyundai EON D Lite Plus,0,55.2,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7248,1598.0,1,3233,5,20.54,Volkswagen Vento Diesel Trendline,0,103.6,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7249,1197.0,4,2222,9,17.21,Volkswagen Polo GT TSI,0,103.6,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7250,1461.0,1,733,8,23.08,Nissan Micra Diesel XV,0,63.1,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7251,1197.0,4,1888,10,17.20,Volkswagen Polo GT TSI,3,103.6,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7252,2148.0,1,2816,7,10.00,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,0,170,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
type(car_all_ex.loc[:,'Power'])

pandas.core.series.Series

In [18]:
nndf = car_all_ex.loc[car_all_ex['Engine'].notnull() & car_all_ex['Power'].notnull(),['Engine','Power']]
nndf

      Engine   Power
0      998.0   58.16
1     1582.0   126.2
2     1199.0    88.7
3     1248.0   88.76
4     1968.0   140.8
5      814.0    55.2
6     1461.0    63.1
7     2755.0   171.5
8     1598.0   103.6
9     1248.0      74
10    1462.0  103.25
11    1497.0   116.3
12    1248.0      74
13    2179.0   187.7
14    2179.0     115
15    2477.0  175.56
16    1498.0    98.6
17    1248.0      74
18    1461.0    83.8
19    2143.0  167.62
20    1995.0     190
21    1248.0    88.5
22    1984.0  177.01
23    1197.0      80
24    1598.0   103.6
25    1497.0   116.3
26    1461.0    63.1
27     998.0    67.1
28    1199.0    88.7
29    2494.0     102
...      ...     ...
7223  1991.0   147.9
7224  1198.0      67
7225  1798.0   157.8
7226  1086.0      62
7227  1461.0      65
7228  1047.0      69
7229  1598.0   103.6
7230  1197.0   81.83
7231  1497.0  121.36
7232  1368.0     160
7233  1968.0  147.51
7234  1591.0   121.3
7235  1248.0    88.5
7236  1197.0   81.86
7237  1498.0    98.6
7238  1968.0  147.51
7239  1198.0    86.7
7240  1498.0    98.6
7241  2993.0     218
7242  1197.0      82
7243  1461.0    83.8
7244  1399.0    92.7
7245  1198.0    86.7
7246  1197.0      82
7247   814.0    55.2
7248  1598.0   103.6
7249  1197.0   103.6
7250  1461.0    63.1
7251  1197.0   103.6
7252  2148.0     170

[7207 rows x 2 columns]

In [19]:
nndf= nndf.loc[nndf['Power']!= 'null']
nndf

      Engine   Power
0      998.0   58.16
1     1582.0   126.2
2     1199.0    88.7
3     1248.0   88.76
4     1968.0   140.8
5      814.0    55.2
6     1461.0    63.1
7     2755.0   171.5
8     1598.0   103.6
9     1248.0      74
10    1462.0  103.25
11    1497.0   116.3
12    1248.0      74
13    2179.0   187.7
14    2179.0     115
15    2477.0  175.56
16    1498.0    98.6
17    1248.0      74
18    1461.0    83.8
19    2143.0  167.62
20    1995.0     190
21    1248.0    88.5
22    1984.0  177.01
23    1197.0      80
24    1598.0   103.6
25    1497.0   116.3
26    1461.0    63.1
27     998.0    67.1
28    1199.0    88.7
29    2494.0     102
...      ...     ...
7223  1991.0   147.9
7224  1198.0      67
7225  1798.0   157.8
7226  1086.0      62
7227  1461.0      65
7228  1047.0      69
7229  1598.0   103.6
7230  1197.0   81.83
7231  1497.0  121.36
7232  1368.0     160
7233  1968.0  147.51
7234  1591.0   121.3
7235  1248.0    88.5
7236  1197.0   81.86
7237  1498.0    98.6
7238  1968.0  147.51
7239  1198.0    86.7
7240  1498.0    98.6
7241  2993.0     218
7242  1197.0      82
7243  1461.0    83.8
7244  1399.0    92.7
7245  1198.0    86.7
7246  1197.0      82
7247   814.0    55.2
7248  1598.0   103.6
7249  1197.0   103.6
7250  1461.0    63.1
7251  1197.0   103.6
7252  2148.0     170

[7078 rows x 2 columns]

In [20]:
nndf["Power"] = pd.to_numeric(nndf["Power"])
nndf['ratio'] = nndf['Engine']/nndf['Power']
ratmean = nndf['ratio'].mean()
ratmean

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

15.148696665288368

In [21]:
car_all_ex

,Engine,Fuel_Type,Kilometers_Driven,Location,Mileage,Name,Owner_Type,Power,Price,Seats,...,z4,zdi,zen,zest,zeta,zipdrive,zipplus,zlx,zx,zxi
0,998.0,0,2794,9,26.60,Maruti Wagon R LXI CNG,0,58.16,1.75,5.0,...,0,0,0,0,0,0,0,0,0,0
1,1582.0,1,1344,10,19.67,Hyundai Creta 1.6 CRDi SX Option,0,126.2,12.50,5.0,...,0,0,0,0,0,0,0,0,0,0
2,1199.0,4,1614,2,18.20,Honda Jazz V,0,88.7,4.50,5.0,...,0,0,0,0,0,0,0,0,0,0
3,1248.0,1,3190,2,20.77,Maruti Ertiga VDI,0,88.76,6.00,7.0,...,0,0,0,0,0,0,0,0,0,0
4,1968.0,1,1335,3,15.20,Audi A4 New 2.0 TDI Multitronic,2,140.8,17.74,5.0,...,0,0,0,0,0,0,0,0,0,0
5,814.0,3,2884,5,21.10,Hyundai EON LPG Era Plus Option,0,55.2,2.35,5.0,...,0,0,0,0,0,0,0,0,0,0
6,1461.0,1,3189,6,23.08,Nissan Micra Diesel XV,0,63.1,3.50,5.0,...,0,0,0,0,0,0,0,0,0,0
7,2755.0,1,1097,9,11.36,Toyota Innova Crysta 2.8 GX AT 8S,0,171.5,17.50,8.0,...,0,0,0,0,0,0,0,0,0,0
8,1598.0,1,2484,10,20.54,Volkswagen Vento Diesel Comfortline,0,103.6,5.20,5.0,...,0,0,0,0,0,0,0,0,0,0
9,1248.0,1,2565,2,22.30,Tata Indica Vista Quadrajet LS,2,74,1.95,5.0,...,0,0,0,0,0,0,0,0,0,0
10,1462.0,4,633,7,21.56,Maruti Ciaz Zeta,0,103.25,9.95,5.0,...,0,0,0,0,1,0,0,0,0,0
11,1497.0,4,2263,8,16.80,Honda City 1.5 V AT Sunroof,0,116.3,4.49,5.0,...,0,0,0,0,0,0,0,0,0,0
12,1248.0,1,2483,6,25.20,Maruti Swift VDI BSIV,0,74,5.60,5.0,...,0,0,0,0,0,0,0,0,0,0
13,2179.0,1,2794,4,12.70,Land Rover Range Rover 2.2L Pure,0,187.7,27.00,5.0,...,0,0,0,0,0,0,0,0,0,0
14,2179.0,1,3152,10,0.00,Land Rover Freelander 2 TD4 SE,2,115,17.50,5.0,...,0,0,0,0,0,0,0,0,0,0
15,2477.0,1,3421,4,13.50,Mitsubishi Pajero Sport 4X4,0,175.56,15.00,7.0,...,0,0,0,0,0,0,0,0,0,0
16,1498.0,1,2216,7,25.80,Honda Amaze S i-Dtech,0,98.6,5.40,5.0,...,0,0,0,0,0,0,0,0,0,0
17,1248.0,1,596,6,28.40,Maruti Swift DDiS VDI,0,74,5.99,5.0,...,0,0,0,0,0,0,0,0,0,0
18,1461.0,1,2967,7,20.45,Renault Duster 85PS Diesel RxL Plus,0,83.8,6.34,5.0,...,0,0,0,0,0,0,0,0,0,0
19,2143.0,1,2992,1,14.84,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,0,167.62,28.00,5.0,...,0,0,0,0,0,0,0,0,0,0
20,1995.0,1,967,7,22.69,BMW 3 Series 320d,0,190,18.55,5.0,...,0,0,0,0,0,0,0,0,0,0
21,1248.0,1,2035,1,23.65,Maruti S Cross DDiS 200 Alpha,2,88.5,8.25,5.0,...,0,0,0,0,0,0,0,0,0,0
22,1984.0,4,2066,9,13.53,Audi A6 2011-2015 35 TFSI Technology,0,177.01,23.50,5.0,...,0,0,0,0,0,0,0,0,0,0
23,1197.0,4,1609,8,18.50,Hyundai i20 1.2 Magna,0,80,1.87,5.0,...,0,0,0,0,0,0,0,0,0,0
24,1598.0,4,969,8,14.40,Volkswagen Vento Petrol Highline AT,0,103.6,2.85,5.0,...,0,0,0,0,0,0,0,0,0,0
25,1497.0,4,1865,9,16.80,Honda City Corporate Edition,0,116.3,4.25,5.0,...,0,0,0,0,0,0,0,0,0,0
26,1461.0,1,1961,5,23.08,Nissan Micra Diesel XV,0,63.1,4.25,5.0,...,0,0,0,0,0,0,0,0,0,0
27,998.0,4,1961,5,20.92,Maruti Alto K10 2010-2014 VXI,2,67.1,2.75,5.0,...,0,0,0,0,0,0,0,0,0,0
28,1199.0,4,1181,7,17.50,Honda WRV i-VTEC VX,0,88.7,9.90,5.0,...,0,0,0,0,0,0,0,0,0,0
29,2494.0,1,3648,9,12.80,Toyota Innova 2.5 V Diesel 7-seater,1,102,4.00,7.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7223,1991.0,1,3346,7,11.50,Chevrolet Captiva LT,0,147.9,NaN,7.0,...,0,0,0,0,0,0,0,0,0,0
7224,1198.0,4,1097,2,19.83,Datsun GO T Petrol,0,67,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7225,1798.0,4,1305,4,13.10,Skoda Superb Petrol Ambition,0,157.8,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7226,1086.0,4,1344,0,0.00,Hyundai Santro Xing GL,0,62,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7227,1461.0,1,3587,2,19.20,Mahindra Renault Logan 1.5 DLE Diesel,2,65,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7228,1047.0,1,1369,10,27.28,Tata Tiago 1.05 Revotorq XT Option,0,69,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7229,1598.0,4,2623,9,14.40,Volkswagen Vento Petrol Highline AT,2,103.6,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7230,1197.0,4,829,10,18.60,Hyundai i20 1.2 Spotz,0,81.83,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7231,1497.0,4,1263,7,17.00,Ford EcoSport 1.5 Petrol Ambiente,0,121.36,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7232,1368.0,4,66,9,16.00,Jeep Compass 1.4 Sport,0,160,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7233,1968.0,1,456,1,16.55,Audi A4 2.0 TDI,0,147.51,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7234,1591.0,4,1418,7,17.10,Hyundai Verna 1.6 SX VTVT (O),0,121.3,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7235,1248.0,1,464,7,24.30,Maruti Vitara Brezza ZDi,0,88.5,NaN,5.0,...,0,1,0,0,0,0,0,0,0,0
7236,1197.0,4,555,7,18.60,Hyundai Elite i20 Magna Plus,0,81.86,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7237,1498.0,1,1238,8,25.80,Honda Amaze S i-Dtech,0,98.6,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7238,1968.0,1,2463,5,16.55,Audi A4 2.0 TDI,0,147.51,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7239,1198.0,4,2118,5,15.50,Honda Amaze VX AT i-Vtech,0,86.7,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7240,1498.0,1,1540,3,27.30,Honda Jazz 1.5 V i DTEC,0,98.6,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7241,2993.0,1,3023,4,16.73,BMW 5 Series 525d Sedan,0,218,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7242,1197.0,4,1259,8,18.90,Hyundai Grand i10 Asta Option,0,82,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7243,1461.0,1,2720,2,19.87,Renault Duster 85PS Diesel RxL,0,83.8,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7244,1399.0,4,1592,10,14.49,Chevrolet Aveo 1.4 LS,0,92.7,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7245,1198.0,4,1549,7,18.00,Honda Amaze S i-Vtech,0,86.7,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7246,1197.0,4,354,3,18.90,Hyundai Grand i10 AT Asta,0,82,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7247,814.0,4,457,3,21.10,Hyundai EON D Lite Plus,0,55.2,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7248,1598.0,1,3233,5,20.54,Volkswagen Vento Diesel Trendline,0,103.6,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7249,1197.0,4,2222,9,17.21,Volkswagen Polo GT TSI,0,103.6,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7250,1461.0,1,733,8,23.08,Nissan Micra Diesel XV,0,63.1,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7251,1197.0,4,1888,10,17.20,Volkswagen Polo GT TSI,3,103.6,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0
7252,2148.0,1,2816,7,10.00,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,0,170,NaN,5.0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
def get_power(df):
    #if df['CITY'] in ('Bangalore','Bangalore.'):
    if df['Power'] == 'null':
        return df['Engine']/ratmean
    else:
        return df['Power']

car_all_ex['Power'] = car_all_ex.apply(get_power, axis = 1)

In [23]:
car_all_ex.iloc[76]

Engine                                   1399
Fuel_Type                                   1
Kilometers_Driven                        3428
Location                                    6
Mileage                                  17.8
Name                 Ford Fiesta 1.4 SXi TDCi
Owner_Type                                  0
Power                                 92.3512
Price                                       2
Seats                                       5
Transmission                                1
Year                                     2008
1                                           0
10                                          0
100                                         0
1000                                        0
105                                         0
107                                         0
11                                          0
110                                         0
110ps                                       0
118d                                        0
11l                                         0
12                                          0
124                                         0
12l                                         0
12p                                         0
12t                                         0
13                                          0
13l                                         0
                               ...
xj                                          0
xl                                          0
xline                                       0
xlt                                         0
xm                                          0
xms                                         0
xo                                          0
xp                                          0
xt                                          0
xta                                         0
xtrail                                      0
xuv300                                      0
xuv500                                      0
xv                                          0
xxi                                         0
xylo                                        0
xz                                          0
xza                                         0
yeti                                        0
z                                           0
z4                                          0
zdi                                         0
zen                                         0
zest                                        0
zeta                                        0
zipdrive                                    0
zipplus                                     0
zlx                                         0
zx                                          0
zxi                                         0
Name: 76, Length: 906, dtype: object

In [24]:
print(car_all_ex.isnull().sum(axis = 0))

Engine                 46
Fuel_Type               0
Kilometers_Driven       0
Location                0
Mileage                 2
Name                    0
Owner_Type              0
Power                  46
Price                1234
Seats                  53
Transmission            0
Year                    0
1                       0
10                      0
100                     0
1000                    0
105                     0
107                     0
11                      0
110                     0
110ps                   0
118d                    0
11l                     0
12                      0
124                     0
12l                     0
12p                     0
12t                     0
13                      0
13l                     0
                     ...
xj                      0
xl                      0
xline                   0
xlt                     0
xm                      0
xms                     0
xo                      0
xp                      0
xt                      0
xta                     0
xtrail                  0
xuv300                  0
xuv500                  0
xv                      0
xxi                     0
xylo                    0
xz                      0
xza                     0
yeti                    0
z                       0
z4                      0
zdi                     0
zen                     0
zest                    0
zeta                    0
zipdrive                0
zipplus                 0
zlx                     0
zx                      0
zxi                     0
Length: 906, dtype: int64

In [25]:
car_all_ex["Power"] = pd.to_numeric(car_all_ex["Power"])

eng_mean = car_all_ex.loc[car_all_ex['Engine'].notnull(),'Engine'].mean()
mil_mean = car_all_ex.loc[car_all_ex['Mileage'].notnull() | car_all_ex['Mileage'] != 0,'Mileage'].mean()
power_mean = car_all_ex.loc[car_all_ex['Power'].notnull(),'Power'].mean()
seat_mean = 5

type(eng_mean)

float

In [26]:
def zero_mileage(df):
    if df['Mileage'] == 0:
        return mil_mean
    else:
        return df['Mileage']

car_all_ex['Mileage'] = car_all_ex.apply(zero_mileage, axis = 1)

print(car_all_ex.isnull().sum(axis = 0))

Engine                 46
Fuel_Type               0
Kilometers_Driven       0
Location                0
Mileage                 2
Name                    0
Owner_Type              0
Power                  46
Price                1234
Seats                  53
Transmission            0
Year                    0
1                       0
10                      0
100                     0
1000                    0
105                     0
107                     0
11                      0
110                     0
110ps                   0
118d                    0
11l                     0
12                      0
124                     0
12l                     0
12p                     0
12t                     0
13                      0
13l                     0
                     ...
xj                      0
xl                      0
xline                   0
xlt                     0
xm                      0
xms                     0
xo                      0
xp                      0
xt                      0
xta                     0
xtrail                  0
xuv300                  0
xuv500                  0
xv                      0
xxi                     0
xylo                    0
xz                      0
xza                     0
yeti                    0
z                       0
z4                      0
zdi                     0
zen                     0
zest                    0
zeta                    0
zipdrive                0
zipplus                 0
zlx                     0
zx                      0
zxi                     0
Length: 906, dtype: int64

In [27]:
def get_null_eng_mean(df):
    if pd.isna(df['Engine']):
        return eng_mean
    else:
        return df['Engine']

def get_null_power_mean(df):
    if pd.isna(df['Power']):
        return power_mean
    else:
        return df['Power']
    
def get_null_mileage_mean(df):
    if pd.isna(df['Mileage']):
        return mil_mean
    else:
        return df['Mileage']
    
def get_null_seat_mean(df):
    if pd.isna(df['Seats']):
        return seat_mean
    else:
        return df['Seats']

car_all_ex['Engine'] = car_all_ex.apply(get_null_eng_mean,axis=1)
car_all_ex['Power'] = car_all_ex.apply(get_null_power_mean,axis=1)
car_all_ex['Mileage'] = car_all_ex.apply(get_null_mileage_mean,axis=1)
car_all_ex['Seats'] = car_all_ex.apply(get_null_seat_mean,axis=1)

In [28]:
car_all_ex = car_all_ex.drop(['Name'],axis=1)
car_all_ex

,Engine,Fuel_Type,Kilometers_Driven,Location,Mileage,Owner_Type,Power,Price,Seats,Transmission,...,z4,zdi,zen,zest,zeta,zipdrive,zipplus,zlx,zx,zxi
0,998.0,0,2794,9,26.60000,0,58.16,1.75,5.0,1,...,0,0,0,0,0,0,0,0,0,0
1,1582.0,1,1344,10,19.67000,0,126.20,12.50,5.0,1,...,0,0,0,0,0,0,0,0,0,0
2,1199.0,4,1614,2,18.20000,0,88.70,4.50,5.0,1,...,0,0,0,0,0,0,0,0,0,0
3,1248.0,1,3190,2,20.77000,0,88.76,6.00,7.0,1,...,0,0,0,0,0,0,0,0,0,0
4,1968.0,1,1335,3,15.20000,2,140.80,17.74,5.0,0,...,0,0,0,0,0,0,0,0,0,0
5,814.0,3,2884,5,21.10000,0,55.20,2.35,5.0,1,...,0,0,0,0,0,0,0,0,0,0
6,1461.0,1,3189,6,23.08000,0,63.10,3.50,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7,2755.0,1,1097,9,11.36000,0,171.50,17.50,8.0,0,...,0,0,0,0,0,0,0,0,0,0
8,1598.0,1,2484,10,20.54000,0,103.60,5.20,5.0,1,...,0,0,0,0,0,0,0,0,0,0
9,1248.0,1,2565,2,22.30000,2,74.00,1.95,5.0,1,...,0,0,0,0,0,0,0,0,0,0
10,1462.0,4,633,7,21.56000,0,103.25,9.95,5.0,1,...,0,0,0,0,1,0,0,0,0,0
11,1497.0,4,2263,8,16.80000,0,116.30,4.49,5.0,0,...,0,0,0,0,0,0,0,0,0,0
12,1248.0,1,2483,6,25.20000,0,74.00,5.60,5.0,1,...,0,0,0,0,0,0,0,0,0,0
13,2179.0,1,2794,4,12.70000,0,187.70,27.00,5.0,0,...,0,0,0,0,0,0,0,0,0,0
14,2179.0,1,3152,10,18.14158,2,115.00,17.50,5.0,0,...,0,0,0,0,0,0,0,0,0,0
15,2477.0,1,3421,4,13.50000,0,175.56,15.00,7.0,1,...,0,0,0,0,0,0,0,0,0,0
16,1498.0,1,2216,7,25.80000,0,98.60,5.40,5.0,1,...,0,0,0,0,0,0,0,0,0,0
17,1248.0,1,596,6,28.40000,0,74.00,5.99,5.0,1,...,0,0,0,0,0,0,0,0,0,0
18,1461.0,1,2967,7,20.45000,0,83.80,6.34,5.0,1,...,0,0,0,0,0,0,0,0,0,0
19,2143.0,1,2992,1,14.84000,0,167.62,28.00,5.0,0,...,0,0,0,0,0,0,0,0,0,0
20,1995.0,1,967,7,22.69000,0,190.00,18.55,5.0,0,...,0,0,0,0,0,0,0,0,0,0
21,1248.0,1,2035,1,23.65000,2,88.50,8.25,5.0,1,...,0,0,0,0,0,0,0,0,0,0
22,1984.0,4,2066,9,13.53000,0,177.01,23.50,5.0,0,...,0,0,0,0,0,0,0,0,0,0
23,1197.0,4,1609,8,18.50000,0,80.00,1.87,5.0,1,...,0,0,0,0,0,0,0,0,0,0
24,1598.0,4,969,8,14.40000,0,103.60,2.85,5.0,0,...,0,0,0,0,0,0,0,0,0,0
25,1497.0,4,1865,9,16.80000,0,116.30,4.25,5.0,1,...,0,0,0,0,0,0,0,0,0,0
26,1461.0,1,1961,5,23.08000,0,63.10,4.25,5.0,1,...,0,0,0,0,0,0,0,0,0,0
27,998.0,4,1961,5,20.92000,2,67.10,2.75,5.0,1,...,0,0,0,0,0,0,0,0,0,0
28,1199.0,4,1181,7,17.50000,0,88.70,9.90,5.0,1,...,0,0,0,0,0,0,0,0,0,0
29,2494.0,1,3648,9,12.80000,1,102.00,4.00,7.0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7223,1991.0,1,3346,7,11.50000,0,147.90,NaN,7.0,1,...,0,0,0,0,0,0,0,0,0,0
7224,1198.0,4,1097,2,19.83000,0,67.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7225,1798.0,4,1305,4,13.10000,0,157.80,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7226,1086.0,4,1344,0,18.14158,0,62.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7227,1461.0,1,3587,2,19.20000,2,65.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7228,1047.0,1,1369,10,27.28000,0,69.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7229,1598.0,4,2623,9,14.40000,2,103.60,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7230,1197.0,4,829,10,18.60000,0,81.83,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7231,1497.0,4,1263,7,17.00000,0,121.36,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7232,1368.0,4,66,9,16.00000,0,160.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7233,1968.0,1,456,1,16.55000,0,147.51,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7234,1591.0,4,1418,7,17.10000,0,121.30,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7235,1248.0,1,464,7,24.30000,0,88.50,NaN,5.0,1,...,0,1,0,0,0,0,0,0,0,0
7236,1197.0,4,555,7,18.60000,0,81.86,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7237,1498.0,1,1238,8,25.80000,0,98.60,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7238,1968.0,1,2463,5,16.55000,0,147.51,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7239,1198.0,4,2118,5,15.50000,0,86.70,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7240,1498.0,1,1540,3,27.30000,0,98.60,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7241,2993.0,1,3023,4,16.73000,0,218.00,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7242,1197.0,4,1259,8,18.90000,0,82.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7243,1461.0,1,2720,2,19.87000,0,83.80,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7244,1399.0,4,1592,10,14.49000,0,92.70,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7245,1198.0,4,1549,7,18.00000,0,86.70,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7246,1197.0,4,354,3,18.90000,0,82.00,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7247,814.0,4,457,3,21.10000,0,55.20,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7248,1598.0,1,3233,5,20.54000,0,103.60,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7249,1197.0,4,2222,9,17.21000,0,103.60,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7250,1461.0,1,733,8,23.08000,0,63.10,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7251,1197.0,4,1888,10,17.20000,3,103.60,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7252,2148.0,1,2816,7,10.00000,0,170.00,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
print(car_all_ex.isnull().sum(axis = 0))

Engine                  0
Fuel_Type               0
Kilometers_Driven       0
Location                0
Mileage                 0
Owner_Type              0
Power                   0
Price                1234
Seats                   0
Transmission            0
Year                    0
1                       0
10                      0
100                     0
1000                    0
105                     0
107                     0
11                      0
110                     0
110ps                   0
118d                    0
11l                     0
12                      0
124                     0
12l                     0
12p                     0
12t                     0
13                      0
13l                     0
14                      0
                     ...
xj                      0
xl                      0
xline                   0
xlt                     0
xm                      0
xms                     0
xo                      0
xp                      0
xt                      0
xta                     0
xtrail                  0
xuv300                  0
xuv500                  0
xv                      0
xxi                     0
xylo                    0
xz                      0
xza                     0
yeti                    0
z                       0
z4                      0
zdi                     0
zen                     0
zest                    0
zeta                    0
zipdrive                0
zipplus                 0
zlx                     0
zx                      0
zxi                     0
Length: 905, dtype: int64

In [30]:
car_all_ex

,Engine,Fuel_Type,Kilometers_Driven,Location,Mileage,Owner_Type,Power,Price,Seats,Transmission,...,z4,zdi,zen,zest,zeta,zipdrive,zipplus,zlx,zx,zxi
0,998.0,0,2794,9,26.60000,0,58.16,1.75,5.0,1,...,0,0,0,0,0,0,0,0,0,0
1,1582.0,1,1344,10,19.67000,0,126.20,12.50,5.0,1,...,0,0,0,0,0,0,0,0,0,0
2,1199.0,4,1614,2,18.20000,0,88.70,4.50,5.0,1,...,0,0,0,0,0,0,0,0,0,0
3,1248.0,1,3190,2,20.77000,0,88.76,6.00,7.0,1,...,0,0,0,0,0,0,0,0,0,0
4,1968.0,1,1335,3,15.20000,2,140.80,17.74,5.0,0,...,0,0,0,0,0,0,0,0,0,0
5,814.0,3,2884,5,21.10000,0,55.20,2.35,5.0,1,...,0,0,0,0,0,0,0,0,0,0
6,1461.0,1,3189,6,23.08000,0,63.10,3.50,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7,2755.0,1,1097,9,11.36000,0,171.50,17.50,8.0,0,...,0,0,0,0,0,0,0,0,0,0
8,1598.0,1,2484,10,20.54000,0,103.60,5.20,5.0,1,...,0,0,0,0,0,0,0,0,0,0
9,1248.0,1,2565,2,22.30000,2,74.00,1.95,5.0,1,...,0,0,0,0,0,0,0,0,0,0
10,1462.0,4,633,7,21.56000,0,103.25,9.95,5.0,1,...,0,0,0,0,1,0,0,0,0,0
11,1497.0,4,2263,8,16.80000,0,116.30,4.49,5.0,0,...,0,0,0,0,0,0,0,0,0,0
12,1248.0,1,2483,6,25.20000,0,74.00,5.60,5.0,1,...,0,0,0,0,0,0,0,0,0,0
13,2179.0,1,2794,4,12.70000,0,187.70,27.00,5.0,0,...,0,0,0,0,0,0,0,0,0,0
14,2179.0,1,3152,10,18.14158,2,115.00,17.50,5.0,0,...,0,0,0,0,0,0,0,0,0,0
15,2477.0,1,3421,4,13.50000,0,175.56,15.00,7.0,1,...,0,0,0,0,0,0,0,0,0,0
16,1498.0,1,2216,7,25.80000,0,98.60,5.40,5.0,1,...,0,0,0,0,0,0,0,0,0,0
17,1248.0,1,596,6,28.40000,0,74.00,5.99,5.0,1,...,0,0,0,0,0,0,0,0,0,0
18,1461.0,1,2967,7,20.45000,0,83.80,6.34,5.0,1,...,0,0,0,0,0,0,0,0,0,0
19,2143.0,1,2992,1,14.84000,0,167.62,28.00,5.0,0,...,0,0,0,0,0,0,0,0,0,0
20,1995.0,1,967,7,22.69000,0,190.00,18.55,5.0,0,...,0,0,0,0,0,0,0,0,0,0
21,1248.0,1,2035,1,23.65000,2,88.50,8.25,5.0,1,...,0,0,0,0,0,0,0,0,0,0
22,1984.0,4,2066,9,13.53000,0,177.01,23.50,5.0,0,...,0,0,0,0,0,0,0,0,0,0
23,1197.0,4,1609,8,18.50000,0,80.00,1.87,5.0,1,...,0,0,0,0,0,0,0,0,0,0
24,1598.0,4,969,8,14.40000,0,103.60,2.85,5.0,0,...,0,0,0,0,0,0,0,0,0,0
25,1497.0,4,1865,9,16.80000,0,116.30,4.25,5.0,1,...,0,0,0,0,0,0,0,0,0,0
26,1461.0,1,1961,5,23.08000,0,63.10,4.25,5.0,1,...,0,0,0,0,0,0,0,0,0,0
27,998.0,4,1961,5,20.92000,2,67.10,2.75,5.0,1,...,0,0,0,0,0,0,0,0,0,0
28,1199.0,4,1181,7,17.50000,0,88.70,9.90,5.0,1,...,0,0,0,0,0,0,0,0,0,0
29,2494.0,1,3648,9,12.80000,1,102.00,4.00,7.0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7223,1991.0,1,3346,7,11.50000,0,147.90,NaN,7.0,1,...,0,0,0,0,0,0,0,0,0,0
7224,1198.0,4,1097,2,19.83000,0,67.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7225,1798.0,4,1305,4,13.10000,0,157.80,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7226,1086.0,4,1344,0,18.14158,0,62.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7227,1461.0,1,3587,2,19.20000,2,65.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7228,1047.0,1,1369,10,27.28000,0,69.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7229,1598.0,4,2623,9,14.40000,2,103.60,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7230,1197.0,4,829,10,18.60000,0,81.83,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7231,1497.0,4,1263,7,17.00000,0,121.36,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7232,1368.0,4,66,9,16.00000,0,160.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7233,1968.0,1,456,1,16.55000,0,147.51,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7234,1591.0,4,1418,7,17.10000,0,121.30,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7235,1248.0,1,464,7,24.30000,0,88.50,NaN,5.0,1,...,0,1,0,0,0,0,0,0,0,0
7236,1197.0,4,555,7,18.60000,0,81.86,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7237,1498.0,1,1238,8,25.80000,0,98.60,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7238,1968.0,1,2463,5,16.55000,0,147.51,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7239,1198.0,4,2118,5,15.50000,0,86.70,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7240,1498.0,1,1540,3,27.30000,0,98.60,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7241,2993.0,1,3023,4,16.73000,0,218.00,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7242,1197.0,4,1259,8,18.90000,0,82.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7243,1461.0,1,2720,2,19.87000,0,83.80,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7244,1399.0,4,1592,10,14.49000,0,92.70,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7245,1198.0,4,1549,7,18.00000,0,86.70,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7246,1197.0,4,354,3,18.90000,0,82.00,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7247,814.0,4,457,3,21.10000,0,55.20,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7248,1598.0,1,3233,5,20.54000,0,103.60,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7249,1197.0,4,2222,9,17.21000,0,103.60,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7250,1461.0,1,733,8,23.08000,0,63.10,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7251,1197.0,4,1888,10,17.20000,3,103.60,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7252,2148.0,1,2816,7,10.00000,0,170.00,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
# car_all_ex.to_csv('Car_final.csv', index=False)

In [32]:
car_final = car_all_ex
car_final

,Engine,Fuel_Type,Kilometers_Driven,Location,Mileage,Owner_Type,Power,Price,Seats,Transmission,...,z4,zdi,zen,zest,zeta,zipdrive,zipplus,zlx,zx,zxi
0,998.0,0,2794,9,26.60000,0,58.16,1.75,5.0,1,...,0,0,0,0,0,0,0,0,0,0
1,1582.0,1,1344,10,19.67000,0,126.20,12.50,5.0,1,...,0,0,0,0,0,0,0,0,0,0
2,1199.0,4,1614,2,18.20000,0,88.70,4.50,5.0,1,...,0,0,0,0,0,0,0,0,0,0
3,1248.0,1,3190,2,20.77000,0,88.76,6.00,7.0,1,...,0,0,0,0,0,0,0,0,0,0
4,1968.0,1,1335,3,15.20000,2,140.80,17.74,5.0,0,...,0,0,0,0,0,0,0,0,0,0
5,814.0,3,2884,5,21.10000,0,55.20,2.35,5.0,1,...,0,0,0,0,0,0,0,0,0,0
6,1461.0,1,3189,6,23.08000,0,63.10,3.50,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7,2755.0,1,1097,9,11.36000,0,171.50,17.50,8.0,0,...,0,0,0,0,0,0,0,0,0,0
8,1598.0,1,2484,10,20.54000,0,103.60,5.20,5.0,1,...,0,0,0,0,0,0,0,0,0,0
9,1248.0,1,2565,2,22.30000,2,74.00,1.95,5.0,1,...,0,0,0,0,0,0,0,0,0,0
10,1462.0,4,633,7,21.56000,0,103.25,9.95,5.0,1,...,0,0,0,0,1,0,0,0,0,0
11,1497.0,4,2263,8,16.80000,0,116.30,4.49,5.0,0,...,0,0,0,0,0,0,0,0,0,0
12,1248.0,1,2483,6,25.20000,0,74.00,5.60,5.0,1,...,0,0,0,0,0,0,0,0,0,0
13,2179.0,1,2794,4,12.70000,0,187.70,27.00,5.0,0,...,0,0,0,0,0,0,0,0,0,0
14,2179.0,1,3152,10,18.14158,2,115.00,17.50,5.0,0,...,0,0,0,0,0,0,0,0,0,0
15,2477.0,1,3421,4,13.50000,0,175.56,15.00,7.0,1,...,0,0,0,0,0,0,0,0,0,0
16,1498.0,1,2216,7,25.80000,0,98.60,5.40,5.0,1,...,0,0,0,0,0,0,0,0,0,0
17,1248.0,1,596,6,28.40000,0,74.00,5.99,5.0,1,...,0,0,0,0,0,0,0,0,0,0
18,1461.0,1,2967,7,20.45000,0,83.80,6.34,5.0,1,...,0,0,0,0,0,0,0,0,0,0
19,2143.0,1,2992,1,14.84000,0,167.62,28.00,5.0,0,...,0,0,0,0,0,0,0,0,0,0
20,1995.0,1,967,7,22.69000,0,190.00,18.55,5.0,0,...,0,0,0,0,0,0,0,0,0,0
21,1248.0,1,2035,1,23.65000,2,88.50,8.25,5.0,1,...,0,0,0,0,0,0,0,0,0,0
22,1984.0,4,2066,9,13.53000,0,177.01,23.50,5.0,0,...,0,0,0,0,0,0,0,0,0,0
23,1197.0,4,1609,8,18.50000,0,80.00,1.87,5.0,1,...,0,0,0,0,0,0,0,0,0,0
24,1598.0,4,969,8,14.40000,0,103.60,2.85,5.0,0,...,0,0,0,0,0,0,0,0,0,0
25,1497.0,4,1865,9,16.80000,0,116.30,4.25,5.0,1,...,0,0,0,0,0,0,0,0,0,0
26,1461.0,1,1961,5,23.08000,0,63.10,4.25,5.0,1,...,0,0,0,0,0,0,0,0,0,0
27,998.0,4,1961,5,20.92000,2,67.10,2.75,5.0,1,...,0,0,0,0,0,0,0,0,0,0
28,1199.0,4,1181,7,17.50000,0,88.70,9.90,5.0,1,...,0,0,0,0,0,0,0,0,0,0
29,2494.0,1,3648,9,12.80000,1,102.00,4.00,7.0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7223,1991.0,1,3346,7,11.50000,0,147.90,NaN,7.0,1,...,0,0,0,0,0,0,0,0,0,0
7224,1198.0,4,1097,2,19.83000,0,67.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7225,1798.0,4,1305,4,13.10000,0,157.80,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7226,1086.0,4,1344,0,18.14158,0,62.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7227,1461.0,1,3587,2,19.20000,2,65.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7228,1047.0,1,1369,10,27.28000,0,69.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7229,1598.0,4,2623,9,14.40000,2,103.60,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7230,1197.0,4,829,10,18.60000,0,81.83,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7231,1497.0,4,1263,7,17.00000,0,121.36,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7232,1368.0,4,66,9,16.00000,0,160.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7233,1968.0,1,456,1,16.55000,0,147.51,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7234,1591.0,4,1418,7,17.10000,0,121.30,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7235,1248.0,1,464,7,24.30000,0,88.50,NaN,5.0,1,...,0,1,0,0,0,0,0,0,0,0
7236,1197.0,4,555,7,18.60000,0,81.86,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7237,1498.0,1,1238,8,25.80000,0,98.60,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7238,1968.0,1,2463,5,16.55000,0,147.51,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7239,1198.0,4,2118,5,15.50000,0,86.70,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7240,1498.0,1,1540,3,27.30000,0,98.60,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7241,2993.0,1,3023,4,16.73000,0,218.00,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7242,1197.0,4,1259,8,18.90000,0,82.00,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7243,1461.0,1,2720,2,19.87000,0,83.80,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7244,1399.0,4,1592,10,14.49000,0,92.70,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7245,1198.0,4,1549,7,18.00000,0,86.70,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7246,1197.0,4,354,3,18.90000,0,82.00,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7247,814.0,4,457,3,21.10000,0,55.20,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7248,1598.0,1,3233,5,20.54000,0,103.60,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7249,1197.0,4,2222,9,17.21000,0,103.60,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7250,1461.0,1,733,8,23.08000,0,63.10,NaN,5.0,1,...,0,0,0,0,0,0,0,0,0,0
7251,1197.0,4,1888,10,17.20000,3,103.60,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0
7252,2148.0,1,2816,7,10.00000,0,170.00,NaN,5.0,0,...,0,0,0,0,0,0,0,0,0,0

# Regression

In [33]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.metrics import precision_recall_fscore_support as score

from sklearn.pipeline import Pipeline

from sklearn.metrics import explained_variance_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_log_error

from time import time

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


import matplotlib.pyplot as plt
from pylab import rcParams
import seaborn as sb

In [34]:
corr = car_final.corr()
print(corr[corr>0.2])

                     Engine  Fuel_Type  Kilometers_Driven  Location   Mileage  \
Engine             1.000000        NaN                NaN       NaN       NaN
Fuel_Type               NaN   1.000000                NaN       NaN       NaN
Kilometers_Driven       NaN        NaN           1.000000       NaN       NaN
Location                NaN        NaN                NaN       1.0       NaN
Mileage                 NaN        NaN                NaN       NaN  1.000000
Owner_Type              NaN        NaN           0.242844       NaN       NaN
Power              0.861096        NaN                NaN       NaN       NaN
Price              0.657129        NaN                NaN       NaN       NaN
Seats              0.398940        NaN                NaN       NaN       NaN
Transmission            NaN        NaN                NaN       NaN  0.354719
Year                    NaN        NaN                NaN       NaN  0.295609
1                       NaN        NaN                NaN       NaN       NaN
10                      NaN        NaN                NaN       NaN       NaN
100                     NaN        NaN                NaN       NaN       NaN
1000                    NaN        NaN                NaN       NaN       NaN
105                     NaN        NaN                NaN       NaN       NaN
107                     NaN        NaN                NaN       NaN       NaN
11                      NaN        NaN                NaN       NaN       NaN
110                     NaN        NaN                NaN       NaN       NaN
110ps                   NaN        NaN                NaN       NaN       NaN
118d                    NaN        NaN                NaN       NaN       NaN
11l                     NaN        NaN                NaN       NaN       NaN
12                      NaN   0.277205                NaN       NaN       NaN
124                     NaN        NaN                NaN       NaN       NaN
12l                     NaN        NaN                NaN       NaN       NaN
12p                     NaN        NaN                NaN       NaN       NaN
12t                     NaN        NaN                NaN       NaN       NaN
13                      NaN        NaN                NaN       NaN       NaN
13l                     NaN        NaN                NaN       NaN       NaN
14                      NaN        NaN                NaN       NaN       NaN
...                     ...        ...                ...       ...       ...
xj                      NaN        NaN                NaN       NaN       NaN
xl                      NaN        NaN                NaN       NaN       NaN
xline                   NaN        NaN                NaN       NaN       NaN
xlt                     NaN        NaN                NaN       NaN       NaN
xm                      NaN        NaN                NaN       NaN       NaN
xms                     NaN        NaN                NaN       NaN       NaN
xo                      NaN        NaN                NaN       NaN       NaN
xp                      NaN        NaN                NaN       NaN       NaN
xt                      NaN        NaN                NaN       NaN       NaN
xta                     NaN        NaN                NaN       NaN       NaN
xtrail                  NaN        NaN                NaN       NaN       NaN
xuv300                  NaN        NaN                NaN       NaN       NaN
xuv500                  NaN        NaN                NaN       NaN       NaN
xv                      NaN        NaN                NaN       NaN       NaN
xxi                     NaN        NaN                NaN       NaN       NaN
xylo                    NaN        NaN                NaN       NaN       NaN
xz                      NaN        NaN                NaN       NaN       NaN
xza                     NaN        NaN                NaN       NaN       NaN
yeti                    NaN        NaN                NaN       NaN       NaN
z                       NaN        NaN                NaN       NaN       NaN
z4                      NaN        NaN                NaN       NaN       NaN
zdi                     NaN        NaN                NaN       NaN  0.204469
zen                     NaN        NaN                NaN       NaN       NaN
zest                    NaN        NaN                NaN       NaN       NaN
zeta                    NaN        NaN                NaN       NaN       NaN
zipdrive                NaN        NaN                NaN       NaN       NaN
zipplus                 NaN        NaN                NaN       NaN       NaN
zlx                     NaN        NaN                NaN       NaN       NaN
zx                      NaN        NaN                NaN       NaN       NaN
zxi                     NaN        NaN                NaN       NaN       NaN

                   Owner_Type     Power     Price     Seats  Transmission  \
Engine                    NaN  0.861096  0.657129  0.398940           NaN
Fuel_Type                 NaN       NaN       NaN       NaN           NaN
Kilometers_Driven    0.242844       NaN       NaN       NaN           NaN
Location                  NaN       NaN       NaN       NaN           NaN
Mileage                   NaN       NaN       NaN       NaN      0.354719
Owner_Type           1.000000       NaN       NaN       NaN           NaN
Power                     NaN  1.000000  0.771376       NaN           NaN
Price                     NaN  0.771376  1.000000       NaN           NaN
Seats                     NaN       NaN       NaN  1.000000           NaN
Transmission              NaN       NaN       NaN       NaN      1.000000
Year                      NaN       NaN  0.305327       NaN           NaN
1                         NaN       NaN       NaN       NaN           NaN
10                        NaN       NaN       NaN       NaN           NaN
100                       NaN       NaN       NaN       NaN           NaN
1000                      NaN       NaN       NaN       NaN           NaN
105                       NaN       NaN       NaN       NaN           NaN
107                       NaN       NaN       NaN       NaN           NaN
11                        NaN       NaN       NaN       NaN           NaN
110                       NaN       NaN       NaN       NaN           NaN
110ps                     NaN       NaN       NaN       NaN           NaN
118d                      NaN       NaN       NaN       NaN           NaN
11l                       NaN       NaN       NaN       NaN           NaN
12                        NaN       NaN       NaN       NaN           NaN
124                       NaN       NaN       NaN       NaN           NaN
12l                       NaN       NaN       NaN       NaN           NaN
12p                       NaN       NaN       NaN       NaN           NaN
12t                       NaN       NaN       NaN       NaN           NaN
13                        NaN       NaN       NaN       NaN           NaN
13l                       NaN       NaN       NaN       NaN           NaN
14                        NaN       NaN       NaN       NaN           NaN
...                       ...       ...       ...       ...           ...
xj                        NaN       NaN       NaN       NaN           NaN
xl                        NaN       NaN       NaN       NaN           NaN
xline                     NaN       NaN       NaN       NaN           NaN
xlt                       NaN       NaN       NaN       NaN           NaN
xm                        NaN       NaN       NaN       NaN           NaN
xms                       NaN       NaN       NaN       NaN           NaN
xo                        NaN       NaN       NaN       NaN           NaN
xp                        NaN       NaN       NaN       NaN           NaN
xt                        NaN       NaN       NaN       NaN           NaN
xta                       NaN       NaN       NaN       NaN           NaN
xtrail                    NaN       NaN       NaN       NaN           NaN
xuv300                    NaN       NaN       NaN       NaN           NaN
xuv500                    NaN       NaN       NaN  0.288742           NaN
xv                        NaN       NaN       NaN       NaN           NaN
xxi                       NaN       NaN       NaN       NaN           NaN
xylo                      NaN       NaN       NaN       NaN           NaN
xz                        NaN       NaN       NaN       NaN           NaN
xza                       NaN       NaN       NaN       NaN           NaN
yeti                      NaN       NaN       NaN       NaN           NaN
z                         NaN       NaN       NaN       NaN           NaN
z4                        NaN       NaN       NaN       NaN           NaN
zdi                       NaN       NaN       NaN       NaN           NaN
zen                       NaN       NaN       NaN       NaN           NaN
zest                      NaN       NaN       NaN       NaN           NaN
zeta                      NaN       NaN       NaN       NaN           NaN
zipdrive                  NaN       NaN       NaN       NaN           NaN
zipplus                   NaN       NaN       NaN       NaN           NaN
zlx                       NaN       NaN       NaN       NaN           NaN
zx                        NaN       NaN       NaN       NaN           NaN
zxi                       NaN       NaN       NaN       NaN           NaN

                  ...    z4       zdi  zen      zest  zeta  zipdrive  zipplus  \
Engine            ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
Fuel_Type         ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
Kilometers_Driven ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
Location          ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
Mileage           ...   NaN  0.204469  NaN       NaN   NaN       NaN      NaN
Owner_Type        ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
Power             ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
Price             ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
Seats             ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
Transmission      ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
Year              ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
1                 ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
10                ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
100               ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
1000              ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
105               ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
107               ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
11                ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
110               ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
110ps             ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
118d              ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
11l               ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
12                ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
124               ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
12l               ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
12p               ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
12t               ...   NaN       NaN  NaN  0.676395   NaN       NaN      NaN
13                ...   NaN       NaN  NaN  0.228285   NaN       NaN      NaN
13l               ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
14                ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
...               ...   ...       ...  ...       ...   ...       ...      ...
xj                ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
xl                ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
xline             ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
xlt               ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
xm                ...   NaN       NaN  NaN  0.384794   NaN       NaN      NaN
xms               ...   NaN       NaN  NaN  0.288237   NaN       NaN      NaN
xo                ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
xp                ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
xt                ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
xta               ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
xtrail            ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
xuv300            ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
xuv500            ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
xv                ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
xxi               ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
xylo              ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
xz                ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
xza               ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
yeti              ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
z                 ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
z4                ...   1.0       NaN  NaN       NaN   NaN       NaN      NaN
zdi               ...   NaN  1.000000  NaN       NaN   NaN       NaN      NaN
zen               ...   NaN       NaN  1.0       NaN   NaN       NaN      NaN
zest              ...   NaN       NaN  NaN  1.000000   NaN       NaN      NaN
zeta              ...   NaN       NaN  NaN       NaN   1.0       NaN      NaN
zipdrive          ...   NaN       NaN  NaN       NaN   NaN       1.0      NaN
zipplus           ...   NaN       NaN  NaN       NaN   NaN       NaN      1.0
zlx               ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
zx                ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN
zxi               ...   NaN       NaN  NaN       NaN   NaN       NaN      NaN

                   zlx   zx  zxi
Engine             NaN  NaN  NaN
Fuel_Type          NaN  NaN  NaN
Kilometers_Driven  NaN  NaN  NaN
Location           NaN  NaN  NaN
Mileage            NaN  NaN  NaN
Owner_Type         NaN  NaN  NaN
Power              NaN  NaN  NaN
Price              NaN  NaN  NaN
Seats              NaN  NaN  NaN
Transmission       NaN  NaN  NaN
Year               NaN  NaN  NaN
1                  NaN  NaN  NaN
10                 NaN  NaN  NaN
100                NaN  NaN  NaN
1000               NaN  NaN  NaN
105                NaN  NaN  NaN
107                NaN  NaN  NaN
11                 NaN  NaN  NaN
110                NaN  NaN  NaN
110ps              NaN  NaN  NaN
118d               NaN  NaN  NaN
11l                NaN  NaN  NaN
12                 NaN  NaN  NaN
124                NaN  NaN  NaN
12l                NaN  NaN  NaN
12p                NaN  NaN  NaN
12t                NaN  NaN  NaN
13                 NaN  NaN  NaN
13l                NaN  NaN  NaN
14                 NaN  NaN  NaN
...                ...  ...  ...
xj                 NaN  NaN  NaN
xl                 NaN  NaN  NaN
xline              NaN  NaN  NaN
xlt                NaN  NaN  NaN
xm                 NaN  NaN  NaN
xms                NaN  NaN  NaN
xo                 NaN  NaN  NaN
xp                 NaN  NaN  NaN
xt                 NaN  NaN  NaN
xta                NaN  NaN  NaN
xtrail             NaN  NaN  NaN
xuv300             NaN  NaN  NaN
xuv500             NaN  NaN  NaN
xv                 NaN  NaN  NaN
xxi                NaN  NaN  NaN
xylo               NaN  NaN  NaN
xz                 NaN  NaN  NaN
xza                NaN  NaN  NaN
yeti               NaN  NaN  NaN
z                  NaN  NaN  NaN
z4                 NaN  NaN  NaN
zdi                NaN  NaN  NaN
zen                NaN  NaN  NaN
zest               NaN  NaN  NaN
zeta               NaN  NaN  NaN
zipdrive           NaN  NaN  NaN
zipplus            NaN  NaN  NaN
zlx                1.0  NaN  NaN
zx                 NaN  1.0  NaN
zxi                NaN  NaN  1.0

[905 rows x 905 columns]

In [35]:
X = car_final.drop(['Price'], axis=1)

y = car_final['Price']

#X_train = X.iloc[:6019]
#X_train
#X_test = X.iloc[12690:]
#y_train = y.iloc[:6019]
#y_test = y.iloc[12690:]
#y_train
X_train, X_test, y_train, y_test = train_test_split(X.iloc[:6019], y.iloc[:6019], test_size=.1, random_state=17)

In [36]:
from time import time

from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression, RANSACRegressor
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.svm import SVR
from sklearn.svm import LinearSVR
from sklearn.ensemble import GradientBoostingRegressor

regressors = [
    LinearRegression(), 
    RANSACRegressor(), 
    KNeighborsRegressor(),
    KNeighborsRegressor(n_neighbors=9, metric='manhattan'),
    GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, loss='ls'),
    SVR(),
    LinearSVR(),
    GaussianProcessRegressor(),
    SVR(kernel='linear'), # Cf. LinearSVR: much slower, might be better or worse: 
]

In [37]:
def rmsle(y, y0):
    return np.sqrt(np.mean(np.square(np.log1p(y) - np.log1p(y0))))

In [38]:
head = 6
for model in regressors[:head]:
    start = time()
    model.fit(X_train, y_train)
    train_time = time() - start
    start = time()
    predictions = model.predict(X_test)
    predict_time = time()-start    
    print(model)
    print("\tTraining time: %0.3fs)" % train_time)
    print("\tPrediction time: %0.3fs" % predict_time)
    print("\tExplained variance:", explained_variance_score(y_test, predictions))
    print("\tMean absolute error:", mean_absolute_error(y_test, predictions))
    print("\tR2 score:", r2_score(y_test, predictions))
    print("\tMean rmsl error:", rmsle(y_test,predictions))
    print()

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)
	Training time: 0.705s)
	Prediction time: 0.006s
	Explained variance: -256733530638.0829
	Mean absolute error: 576453.3683923113
	R2 score: -258265950005.97235
	Mean rmsl error: 1.7790314312520175

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in log1p

RANSACRegressor(base_estimator=None, is_data_valid=None, is_model_valid=None,
        loss='absolute_loss', max_skips=inf, max_trials=100,
        min_samples=None, random_state=None, residual_threshold=None,
        stop_n_inliers=inf, stop_probability=0.99, stop_score=inf)
	Training time: 26.850s)
	Prediction time: 0.005s
	Explained variance: -2074321571938.077
	Mean absolute error: 3161411.541344322
	R2 score: -2084217814817.0693
	Mean rmsl error: 2.7315460662816924

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in log1p

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')
	Training time: 0.292s)
	Prediction time: 0.246s
	Explained variance: 0.6764893518945517
	Mean absolute error: 3.3707973421926907
	R2 score: 0.6764891667877848
	Mean rmsl error: 0.3943027585363973

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='manhattan',
          metric_params=None, n_jobs=None, n_neighbors=9, p=2,
          weights='uniform')
	Training time: 0.274s)
	Prediction time: 0.217s
	Explained variance: 0.6866757916446758
	Mean absolute error: 3.3002344038390548
	R2 score: 0.6866673649365354
	Mean rmsl error: 0.38292851802085687

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, n_iter_no_change=None, presort='auto',
             random_state=None, subsample=1.0, tol=0.0001,
             validation_fraction=0.1, verbose=0, warm_start=False)
	Training time: 7.379s)
	Prediction time: 0.010s
	Explained variance: 0.8185446046365136
	Mean absolute error: 1.8715464584102866
	R2 score: 0.8181185690676871
	Mean rmsl error: 0.21270127181894863

D:\Anaconda\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)
	Training time: 42.309s)
	Prediction time: 4.339s
	Explained variance: 0.1010045375050651
	Mean absolute error: 5.27024227226291
	R2 score: 0.030910399560386215
	Mean rmsl error: 0.6220150863681668

In [39]:
from sklearn.linear_model import Lasso, Ridge

lr = LinearRegression()
lasso = Lasso()
ridge = Ridge()

for model in [lr, lasso, ridge]:
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    print(model)
    print("\tExplained variance:", explained_variance_score(y_test, predictions))
    print("\tMean absolute error:", mean_absolute_error(y_test, predictions))
    print("\tR2 score:", r2_score(y_test, predictions))
    print("\tMean rmsl error:", rmsle(y_test,predictions))
    print()

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)
	Explained variance: -256733530638.0829
	Mean absolute error: 576453.3683923113
	R2 score: -258265950005.97235
	Mean rmsl error: 1.7790314312520175

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in log1p

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)
	Explained variance: 0.6223879677237469
	Mean absolute error: 3.900945311653933
	R2 score: 0.6223741770644795
	Mean rmsl error: 0.5326602144300233

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in log1p

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in log1p

	Explained variance: 0.7707663135913088
	Mean absolute error: 2.3041725618590556
	R2 score: 0.7703061738233021
	Mean rmsl error: 0.44024079713911773

In [40]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

regressors = [LinearRegression(),
              DecisionTreeRegressor(max_depth=5),
              DecisionTreeRegressor(max_depth=10),
              DecisionTreeRegressor(max_depth=20),
              RandomForestRegressor(max_depth=30),
              RandomForestRegressor(max_depth=20),
              SVR(),]

for model in regressors:
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    print(model)
    print("\tExplained variance:", explained_variance_score(y_test, predictions))
    print("\tMean absolute error:", mean_absolute_error(y_test, predictions))
    print("\tR2 score:", r2_score(y_test, predictions))
    print("\tMean rmsl error:", rmsle(y_test,predictions))
    print()

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)
	Explained variance: -256733530638.0829
	Mean absolute error: 576453.3683923113
	R2 score: -258265950005.97235
	Mean rmsl error: 1.7790314312520175

DecisionTreeRegressor(criterion='mse', max_depth=5, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')
	Explained variance: 0.7482375230464746
	Mean absolute error: 2.6469832838622387
	R2 score: 0.7479857699411023
	Mean rmsl error: 0.3125937372391928

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in log1p

DecisionTreeRegressor(criterion='mse', max_depth=10, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')
	Explained variance: 0.8096778173675707
	Mean absolute error: 1.8796641073768794
	R2 score: 0.808528378637221
	Mean rmsl error: 0.22262211304341487

DecisionTreeRegressor(criterion='mse', max_depth=20, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')
	Explained variance: 0.7743432262212459
	Mean absolute error: 1.9433630776962405
	R2 score: 0.7726166339792289
	Mean rmsl error: 0.2245689148235612

D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=30,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)
	Explained variance: 0.8176485878371019
	Mean absolute error: 1.6226315188687281
	R2 score: 0.8168674881855247
	Mean rmsl error: 0.18023980942428564

D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=20,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)
	Explained variance: 0.8008250490991732
	Mean absolute error: 1.5787861076055507
	R2 score: 0.7998307460433599
	Mean rmsl error: 0.1758644972834

D:\Anaconda\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)
	Explained variance: 0.1010045375050651
	Mean absolute error: 5.27024227226291
	R2 score: 0.030910399560386215
	Mean rmsl error: 0.6220150863681668

In [ ]:
#data_dmatrix = xgb.DMatrix(data=X,label=y)

In [91]:
#rfr = RandomForestRegressor(max_depth=30,random_state=1)
rfr = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.4, learning_rate = 0.1,
                max_depth = 40, alpha = 10, n_estimators = 160)

In [92]:
from sklearn.metrics import mean_squared_log_error, make_scorer
scorer = make_scorer(mean_squared_log_error)

from sklearn.model_selection import KFold
kf = KFold(5, random_state=0)

In [93]:
from sklearn.model_selection import cross_val_score
cv_scores = cross_val_score(rfr, X.iloc[:6019], y.iloc[:6019], scoring=scorer, cv=kf)
print(" CV scores:", cv_scores)
print("Mean score:", np.mean(cv_scores))

D:\Anaconda\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
D:\Anaconda\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
D:\Anaconda\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
D:\Anaconda\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
D:\Anaconda\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

 CV scores: [0.03182967 0.03137857 0.03544541 0.03307807 0.03109195]
Mean score: 0.03256473260211534

In [ ]:
from sklearn.pipeline import Pipeline

pipe = Pipeline([
    ("Xgboost", xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.4, learning_rate = 0.1,
                max_depth = 40, alpha = 10, n_estimators = 160)),
])

In [ ]:
cv_scores = cross_val_score(pipe, 
                            X.iloc[:6019], y.iloc[:6019], 
                            scoring=make_scorer(mean_squared_log_error), 
                            cv=KFold(5))

print(" Pipeline CV scores:", cv_scores)
print("Pipeline mean score:", np.mean(cv_scores))

D:\Anaconda\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
D:\Anaconda\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
D:\Anaconda\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
D:\Anaconda\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

In [ ]:
pipe.fit(X.iloc[:6019], y.iloc[:6019])
y_pred_orig = pipe.predict(X.iloc[6019:])
y_pred_final =pd.DataFrame(y_pred_orig,columns=["Price"])
y_pred_final.to_csv('Estimated_Price.csv', index=False)