# HR Data -  Pay Rate prediction

In [48]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.metrics import precision_recall_fscore_support as score

from sklearn.metrics import explained_variance_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

from time import time

from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression, RANSACRegressor
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.svm import SVR
from sklearn.svm import LinearSVR
from sklearn.linear_model import Lasso, Ridge


from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR


import matplotlib.pyplot as plt
from pylab import rcParams
import seaborn as sb
import numpy as np
import pandas as pd

In [27]:
hr = pd.read_csv('D:\OSSI\Whitepapers\Cloud_Learning\Visualization_Cloud_Service\Analysis_Examples\Kaggle_HR_Dataset\core_dataset.csv')
hr.columns = ['Name','EmpNum','State','Zip','Date_of_birth','Age','Sex','MaritalDesc','CitizenDesc','Hispanic/Latino','RaceDesc','Date_of_Hire','Date_of_Termination','Reason_For_Termination','Employment_Status','Department','Position','Pay_Rate','Manager_Name','Employment_Source','Performance_Score']
hr = hr.drop(hr.index[301])
print(hr)

                      Name        EmpNum State      Zip Date_of_birth   Age  \
0               Brown, Mia  1.103024e+09    MA   1450.0    11/24/1985  32.0
1     LaRotonda, William    1.106027e+09    MA   1460.0     4/26/1984  33.0
2         Steans, Tyrone    1.302053e+09    MA   2703.0      9/1/1986  31.0
3          Howard, Estelle  1.211051e+09    MA   2170.0     9/16/1985  32.0
4              Singh, Nan   1.307060e+09    MA   2330.0     5/19/1988  29.0
5         Smith, Leigh Ann  7.110077e+08    MA   1844.0     6/14/1987  30.0
6      LeBlanc, Brandon  R  1.102024e+09    MA   1460.0     6/10/1984  33.0
7              Quinn, Sean  1.206043e+09    MA   2045.0     11/6/1984  33.0
8        Boutwell, Bonalyn  1.307060e+09    MA   2468.0      4/4/1987  30.0
9        Foster-Baker, Amy  1.201031e+09    MA   2050.0     4/16/1979  38.0
10             King, Janet  1.001495e+09    MA   1902.0     9/21/1954  63.0
11        Zamora, Jennifer  1.112031e+09    MA   2067.0     8/30/1979  38.0
12           Becker, Renee  1.102024e+09    MA   2026.0      4/4/1986  31.0
13           Goble, Taisha  9.050137e+08    MA   2127.0    10/23/1971  46.0
14       Hernandez, Daniff  1.410071e+09    MA   1960.0      8/7/1986  31.0
15           Horton, Jayne  1.105026e+09    MA   2493.0     2/21/1984  33.0
16        Johnson, Noelle   1.003018e+09    MA   2301.0     11/7/1986  31.0
17          Murray, Thomas  1.406068e+09    TX  78230.0      7/4/1988  29.0
18        Pearson, Randall  1.102024e+09    MA   2747.0      9/5/1984  33.0
19       Petrowsky, Thelma  1.108028e+09    MA   1886.0     9/16/1984  33.0
20             Roby, Lori   1.407069e+09    MA   1886.0    10/11/1981  36.0
21            Rogers, Ivan  1.203032e+09    MA   1810.0     8/26/1986  31.0
22           Salter, Jason  1.111030e+09    MA   2452.0    12/17/1987  30.0
23          Simard, Kramer  8.080103e+08    MA   2110.0      2/8/1970  47.0
24             Zhou, Julia  1.110030e+09    MA   2148.0     2/24/1979  38.0
25             Foss, Jason  1.192991e+09    MA   1460.0      7/5/1980  37.0
26              Roup,Simon  1.106027e+09    MA   2481.0      4/5/1973  44.0
27           Ruiz, Ricardo  1.001175e+09    MA   1915.0      1/4/1964  54.0
28           Monroe, Peter  1.011023e+09    MA   2134.0     10/5/1986  31.0
29           Dougall, Eric  1.101024e+09    MA   1886.0      7/9/1970  47.0
..                     ...           ...   ...      ...           ...   ...
271        Guilianno, Mike  1.001167e+09    TN  37129.0      2/9/1969  48.0
272          Jeremy Prater  1.001085e+09    NV  89139.0      5/9/1974  43.0
273  Khemmich, Bartholemew  1.104025e+09    CO  80820.0    11/27/1979  38.0
274       Leruth, Giovanni  1.412072e+09    UT  84111.0    12/27/1988  29.0
275        Martins, Joseph  1.209049e+09    TX  78207.0     6/11/1970  47.0
276          McKinzie, Jac  1.209049e+09    TX  78789.0      7/1/1984  33.0
277       Mullaney, Howard  1.306058e+09    AL  36006.0     11/2/1975  42.0
278         Nguyen, Dheepa  1.111031e+09    GA  30428.0     3/31/1989  28.0
279         Onque, Jasmine  1.501072e+09    FL  33174.0     5/11/1990  27.0
280          Ozark, Travis  8.120118e+08    NC  27229.0     5/19/1982  35.0
281            Potts, Xana  1.102024e+09    KY  40220.0     8/29/1988  29.0
282       Riordan, Michael  1.502073e+09    ND  58782.0     1/15/1968  50.0
283        Strong, Caitrin  1.411071e+09    MT  59102.0     5/12/1989  28.0
284       Terry, Sharlene   1.401065e+09    OR  97756.0      5/7/1965  52.0
285        Valentin,Jackie  1.312064e+09    AZ  85006.0     5/23/1991  26.0
286       Villanueva, Noah  1.111031e+09    ME   4063.0     7/11/1989  28.0
287        Houlihan, Debra  1.009022e+09    RI   2908.0     3/17/1966  51.0
288         Daneault, Lynn  1.402065e+09    VT   5473.0     4/19/1990  27.0
289    Kampew, Donysha      1.109029e+09    PA  19444.0    11/11/1989  28.0
290            Smith, John  1.499903e+09    MA   1886.0     8/16/1984  33.0
291        Andreola, Colby  1.107027e+09    MA   2110.0     5/24/1979  38.0
292       Carabbio, Judith  1.101024e+09    MA   2132.0      4/5/1987  30.0
293      Del Bosque, Keyla  1.203032e+09    MA   2176.0      7/5/1979  38.0
294         Exantus, Susan  1.401065e+09    MA   1749.0     5/15/1987  30.0
295         Martin, Sandra  1.303055e+09    MA   2135.0     11/7/1987  30.0
296        Patronick, Luke  1.112031e+09    MA   1844.0     2/20/1979  38.0
297           Saada, Adell  1.012023e+09    MA   2132.0     7/24/1986  31.0
298          Szabo, Andrew  1.201031e+09    MA   2140.0      5/6/1983  34.0
299           True, Edward  1.102024e+09    MA   2451.0     6/14/1983  34.0
300       Sweetwater, Alex  1.001645e+09    MA   2184.0    11/22/1966  51.0

        Sex MaritalDesc          CitizenDesc Hispanic/Latino  \
0    Female     Married           US Citizen              No
1      Male    Divorced           US Citizen              No
2      Male      Single           US Citizen              No
3    Female     Married           US Citizen              No
4    Female      Single           US Citizen              No
5    Female     Married           US Citizen              No
6      Male     Married           US Citizen              No
7      Male     Married  Eligible NonCitizen              No
8    Female     Married           US Citizen              No
9    Female     Married           US Citizen              no
10   Female     Married           US Citizen             Yes
11   Female      Single           US Citizen              No
12   Female      Single           US Citizen             Yes
13   Female      Single           US Citizen              No
14     Male     Married           US Citizen              No
15   Female      Single           US Citizen              No
16   Female     Married           US Citizen              No
17     Male    Divorced           US Citizen              No
18     Male     Married           US Citizen              No
19   Female     Married           US Citizen              No
20   Female     Married           US Citizen              No
21     Male     Married           US Citizen              No
22     Male    Divorced           US Citizen              No
23     Male     Married           US Citizen             Yes
24   Female      Single           US Citizen              No
25     Male      Single           US Citizen              No
26     Male      Single           US Citizen              No
27     Male    Divorced           US Citizen              No
28     Male     Married  Eligible NonCitizen             Yes
29     Male      Single           US Citizen              No
..      ...         ...                  ...             ...
271    Male      Single           US Citizen              No
272    Male     Married           US Citizen              No
273    Male      Single           US Citizen              No
274    Male   Separated           US Citizen              No
275    Male      Single  Eligible NonCitizen              No
276    Male     Married           US Citizen              No
277    Male      Single           US Citizen              No
278  Female      Single           US Citizen              No
279  Female      Single           US Citizen             Yes
280    Male      Single           US Citizen              No
281  Female     Married           US Citizen              No
282    Male   Separated           US Citizen              No
283  Female     Married           US Citizen              No
284  Female      Single           US Citizen              No
285  Female     Married           US Citizen              No
286    Male      Single           US Citizen              No
287  Female     Married           US Citizen              No
288  Female      Single           US Citizen              No
289  Female      Single           US Citizen              No
290    Male    Divorced           US Citizen              no
291  Female      Single           US Citizen              No
292  Female      Single           US Citizen              No
293  Female      Single           US Citizen              No
294  Female     Married           US Citizen              No
295  Female   Separated           US Citizen              No
296    Male      Single           US Citizen              No
297  Female     Married           US Citizen              No
298    Male      Single           US Citizen              No
299    Male      Single          Non-Citizen              No
300    Male      Single           US Citizen              No

               ...            Date_of_Hire Date_of_Termination  \
0              ...              10/27/2008                 NaN
1              ...                1/6/2014                 NaN
2              ...               9/29/2014                 NaN
3              ...               2/16/2015           4/15/2015
4              ...                5/1/2015                 NaN
5              ...               9/26/2011           9/25/2013
6              ...                1/5/2016                 NaN
7              ...               2/21/2011           8/15/2015
8              ...               2/16/2015                 NaN
9              ...                1/5/2009                 NaN
10             ...                7/2/2012                 NaN
11             ...               4/10/2010                 NaN
12             ...                7/7/2014           9/12/2015
13             ...               2/16/2015           3/15/2015
14             ...               2/16/2015           2/22/2015
15             ...               3/30/2015                 NaN
16             ...                1/5/2015                 NaN
17             ...              11/10/2014                 NaN
18             ...               12/1/2014            5/1/2016
19             ...              11/10/2014                 NaN
20             ...               2/16/2015                 NaN
21             ...               3/30/2015                 NaN
22             ...                1/5/2015          10/31/2015
23             ...                1/5/2015                 NaN
24             ...               3/30/2015                 NaN
25             ...               4/15/2011                 NaN
26             ...               1/20/2013                 NaN
27             ...                1/9/2012           11/4/2015
28             ...               2/15/2012                 NaN
29             ...                1/5/2014                 NaN
..             ...                     ...                 ...
271            ...                3/7/2011          10/31/2014
272            ...               5/12/2014                 NaN
273            ...               8/19/2013                 NaN
274            ...               4/30/2012                 NaN
275            ...               5/14/2012                 NaN
276            ...                7/6/2016                 NaN
277            ...               9/29/2014                 NaN
278            ...                7/8/2013                 NaN
279            ...               9/30/2013                 NaN
280            ...                1/5/2015                 NaN
281            ...                1/9/2012                 NaN
282            ...                1/9/2006                 NaN
283            ...               9/27/2010                 NaN
284            ...               9/29/2014                 NaN
285            ...                7/5/2011                 NaN
286            ...                3/5/2012                 NaN
287            ...                5/5/2014                 NaN
288            ...                5/5/2014                 NaN
289            ...               11/7/2011           4/24/2014
290            ...               5/18/2014                 NaN
291            ...              11/10/2014                 NaN
292            ...              11/11/2013                 NaN
293            ...                1/9/2012                 NaN
294            ...                5/2/2011            6/5/2013
295            ...              11/11/2013                 NaN
296            ...               11/7/2011            9/7/2015
297            ...               11/5/2012                 NaN
298            ...                7/7/2014                 NaN
299            ...               2/18/2013           4/15/2014
300            ...               8/15/2011                 NaN

               Reason_For_Termination       Employment_Status  \
0                N/A - still employed                  Active
1                N/A - still employed                  Active
2                N/A - still employed                  Active
3                N/A - still employed                  Active
4                N/A - still employed                  Active
5                       career change  Voluntarily Terminated
6                N/A - still employed                  Active
7                       career change  Voluntarily Terminated
8                N/A - still employed                  Active
9                N/A - still employed                  Active
10               N/A - still employed                  Active
11               N/A - still employed                  Active
12                        performance    Terminated for Cause
13                   no-call, no-show    Terminated for Cause
14                   no-call, no-show    Terminated for Cause
15               N/A - still employed                  Active
16               N/A - still employed        Leave of Absence
17               N/A - still employed                  Active
18                        performance  Voluntarily Terminated
19               N/A - still employed                  Active
20               N/A - still employed                  Active
21               N/A - still employed                  Active
22                              hours  Voluntarily Terminated
23               N/A - still employed                  Active
24               N/A - still employed                  Active
25               N/A - still employed                  Active
26               N/A - still employed                  Active
27                              hours  Voluntarily Terminated
28               N/A - still employed                  Active
29               N/A - still employed                  Active
..                                ...                     ...
271            relocation out of area  Voluntarily Terminated
272              N/A - still employed                  Active
273              N/A - still employed                  Active
274              N/A - still employed                  Active
275              N/A - still employed                  Active
276         N/A - Has not started yet            Future Start
277              N/A - still employed                  Active
278              N/A - still employed                  Active
279              N/A - still employed                  Active
280              N/A - still employed                  Active
281              N/A - still employed                  Active
282              N/A - still employed                  Active
283              N/A - still employed                  Active
284              N/A - still employed                  Active
285              N/A - still employed                  Active
286              N/A - still employed                  Active
287              N/A - still employed                  Active
288              N/A - still employed                  Active
289  maternity leave - did not return  Voluntarily Terminated
290              N/A - still employed                  Active
291              N/A - still employed                  Active
292              N/A - still employed                  Active
293              N/A - still employed                  Active
294                        attendance    Terminated for Cause
295              N/A - still employed                  Active
296                  Another position  Voluntarily Terminated
297              N/A - still employed                  Active
298              N/A - still employed                  Active
299                    medical issues  Voluntarily Terminated
300              N/A - still employed                  Active

                    Department                      Position Pay_Rate  \
0                Admin Offices                  Accountant I    28.50
1                Admin Offices                  Accountant I    23.00
2                Admin Offices                  Accountant I    29.00
3                Admin Offices      Administrative Assistant    21.50
4                Admin Offices      Administrative Assistant    16.56
5                Admin Offices      Administrative Assistant    20.50
6                Admin Offices       Shared Services Manager    55.00
7                Admin Offices       Shared Services Manager    55.00
8                Admin Offices                Sr. Accountant    34.95
9                Admin Offices                Sr. Accountant    34.95
10            Executive Office               President & CEO    80.00
11                       IT/IS                           CIO    65.00
12                       IT/IS        Database Administrator    43.00
13                       IT/IS        Database Administrator    48.50
14                       IT/IS        Database Administrator    40.10
15                       IT/IS        Database Administrator    34.00
16                       IT/IS        Database Administrator    40.00
17                       IT/IS        Database Administrator    35.50
18                       IT/IS        Database Administrator    41.00
19                       IT/IS        Database Administrator    42.75
20                       IT/IS        Database Administrator    39.55
21                       IT/IS        Database Administrator    42.20
22                       IT/IS        Database Administrator    45.00
23                       IT/IS        Database Administrator    30.20
24                       IT/IS        Database Administrator    31.40
25                       IT/IS                   IT Director    65.00
26                       IT/IS               IT Manager - DB    62.00
27                       IT/IS               IT Manager - DB    21.00
28                       IT/IS            IT Manager - Infra    63.00
29                       IT/IS          IT Manager - Support    64.00
..                         ...                           ...      ...
271                      Sales            Area Sales Manager    55.00
272                      Sales            Area Sales Manager    56.00
273                      Sales            Area Sales Manager    55.00
274                      Sales            Area Sales Manager    55.00
275                      Sales            Area Sales Manager    56.00
276                      Sales            Area Sales Manager    55.00
277                      Sales            Area Sales Manager    55.00
278                      Sales            Area Sales Manager    55.00
279                      Sales            Area Sales Manager    57.00
280                      Sales            Area Sales Manager    55.00
281                      Sales            Area Sales Manager    55.00
282                      Sales            Area Sales Manager    55.00
283                      Sales            Area Sales Manager    54.00
284                      Sales            Area Sales Manager    55.00
285                      Sales            Area Sales Manager    55.00
286                      Sales            Area Sales Manager    56.00
287                      Sales             Director of Sales    60.00
288                      Sales                 Sales Manager    54.00
289                      Sales                 Sales Manager    60.25
290                      Sales                 Sales Manager    56.00
291       Software Engineering             Software Engineer    47.60

In [28]:
hr_no_dot = hr.drop('Date_of_Termination',axis=1)

In [29]:
le = preprocessing.LabelEncoder()
hr_no_dot = hr_no_dot.apply(le.fit_transform)
hr_no_dot

,Name,EmpNum,State,Zip,Date_of_birth,Age,Sex,MaritalDesc,CitizenDesc,Hispanic/Latino,RaceDesc,Date_of_Hire,Reason_For_Termination,Employment_Status,Department,Position,Pay_Rate,Manager_Name,Employment_Source,Performance_Score
0,28,82,10,3,51,7,0,1,2,0,2,17,2,0,0,0,35,3,3,3
1,149,102,10,4,143,8,1,0,2,0,2,8,2,0,0,0,22,3,20,3
2,262,182,10,119,266,6,1,3,2,0,5,88,2,0,0,0,38,3,7,3
3,126,168,10,86,274,7,0,1,2,0,5,27,2,0,0,1,19,3,15,4
4,249,200,10,98,164,4,0,3,2,0,5,46,2,0,0,1,6,3,20,4
5,253,4,10,25,198,5,0,1,2,0,1,86,4,4,0,1,16,3,3,3
6,155,76,10,4,194,8,1,1,2,0,5,7,2,0,0,18,73,9,9,3
7,221,158,10,47,58,8,1,1,0,0,2,31,4,4,0,18,73,9,3,3
8,24,206,10,112,148,5,0,1,2,0,1,27,2,0,0,21,43,3,3,0
9,88,138,10,49,133,13,0,1,2,2,5,4,2,0,0,21,43,2,13,3
10,144,24,10,35,278,34,0,1,2,1,5,65,2,0,1,13,90,2,15,3
11,298,133,10,53,261,13,0,3,2,0,5,38,2,0,2,3,89,9,4,2
12,17,73,10,41,147,6,0,3,2,1,5,73,12,3,2,4,55,18,17,3
13,101,11,10,67,28,21,0,3,2,0,5,27,11,3,2,4,61,18,5,3
14,121,272,10,39,263,6,1,1,2,0,2,27,11,3,2,4,50,18,4,4
15,124,96,10,118,97,8,0,3,2,0,5,33,2,0,2,4,42,18,5,4
16,138,34,10,95,62,6,0,1,2,0,1,6,2,2,2,4,49,18,5,0
17,190,254,23,147,228,4,1,0,2,0,2,19,2,0,2,4,44,18,3,2
18,206,72,10,121,291,8,1,1,2,0,5,25,12,4,2,4,51,18,4,3
19,214,112,10,31,273,8,0,1,2,0,1,19,2,0,2,4,54,18,4,2
20,231,255,10,31,20,11,0,1,2,0,5,27,2,0,2,4,48,18,4,3
21,233,146,10,22,256,6,1,1,2,0,5,33,2,0,2,4,53,18,15,4
22,242,128,10,108,71,5,1,0,2,0,2,6,6,4,2,4,56,18,19,0
23,248,7,10,60,101,22,1,1,2,1,5,6,2,0,2,4,39,18,4,0
24,299,124,10,80,99,13,0,3,2,0,5,33,2,0,2,4,40,18,4,0
25,87,135,10,4,230,12,1,3,2,0,2,39,2,0,2,7,89,10,16,2
26,236,105,10,116,149,19,1,3,2,0,5,1,2,0,2,8,86,10,16,3
27,237,20,10,37,11,29,1,0,2,0,4,13,6,4,2,8,17,10,3,3
28,183,49,10,73,34,6,1,1,0,1,3,26,2,0,2,9,87,10,3,5
29,69,70,10,31,235,22,1,3,2,0,5,5,2,0,2,10,88,10,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,113,19,22,140,102,23,1,3,2,0,4,36,13,4,4,2,73,11,10,3
272,135,15,16,153,190,18,1,1,2,0,5,49,2,0,4,2,77,15,20,6
273,143,88,3,149,55,13,1,3,2,0,5,81,2,0,4,2,73,15,15,3
274,157,282,24,151,78,4,1,2,2,0,2,43,2,0,4,2,73,11,20,3
275,172,165,23,146,196,22,1,3,0,0,2,51,2,0,4,2,77,15,4,3
276,175,167,23,148,209,8,1,1,2,0,4,72,1,1,4,2,73,15,20,4
277,189,196,0,139,45,17,1,3,2,0,4,88,2,0,4,2,73,11,7,5
278,195,132,6,137,127,3,0,3,2,0,4,74,2,0,4,2,73,15,15,3
279,200,290,5,138,156,2,0,3,2,1,5,89,2,0,4,2,79,15,15,3
280,203,8,13,136,163,10,1,3,2,0,5,6,2,0,4,2,73,11,20,0
281,217,75,9,141,260,4,0,1,2,0,2,13,2,0,4,2,73,15,20,3
282,224,294,14,144,2,25,1,2,2,0,5,12,2,0,4,2,73,15,0,1
283,264,274,12,145,157,3,0,1,2,0,2,87,2,0,4,2,70,11,16,3
284,272,224,19,155,186,27,0,3,2,0,2,88,2,0,4,2,73,15,9,3
285,282,221,1,152,172,1,0,1,2,0,4,69,2,0,4,2,73,11,13,3
286,284,131,11,125,214,3,1,3,2,0,1,35,2,0,4,2,77,11,20,3
287,125,42,21,123,112,26,0,1,2,0,5,56,2,0,4,6,83,9,8,3
288,55,227,26,126,139,2,0,3,2,0,5,56,2,0,4,17,70,6,15,3
289,141,119,20,134,41,3,0,3,2,0,5,24,7,4,4,17,84,6,18,3
290,252,285,10,31,240,8,1,0,2,2,2,53,2,0,4,17,77,6,3,5
291,7,107,10,60,174,13,0,3,2,0,5,19,2,0,5,19,59,0,19,3
292,36,66,10,71,150,5,0,3,2,0,5,20,2,0,5,19,77,0,15,0
293,60,149,10,88,229,13,0,3,2,0,2,13,2,0,5,19,80,0,9,0
294,77,225,10,12,161,5,0,1,2,0,2,54,3,3,5,19,61,0,0,5
295,171,187,10,74,63,5,0,2,2,0,1,20,2,0,5,19,76,0,17,3
296,205,134,10,25,95,13,1,3,2,0,1,24,0,4,5,19,67,0,3,1
297,238,58,10,71,222,6,0,1,2,0,5,23,2,0,5,19,63,0,15,3
298,269,140,10,77,184,9,1,3,2,0,5,73,2,0,5,19,60,0,8,2
299,279,74,10,107,197,9,1,3,1,0,2,29,8,4,5,19,57,0,3,3
300,268,27,10,90,46,26,1,3,2,0,5,78,2,0,6,20,32,10,17,3

In [30]:
corr = hr_no_dot.corr()
print(corr)

                            Name    EmpNum     State       Zip  Date_of_birth  \
Name                    1.000000 -0.062629 -0.068161  0.063956      -0.021010
EmpNum                 -0.062629  1.000000  0.034308  0.091633       0.012885
State                  -0.068161  0.034308  1.000000  0.200278       0.027510
Zip                     0.063956  0.091633  0.200278  1.000000       0.034015
Date_of_birth          -0.021010  0.012885  0.027510  0.034015       1.000000
Age                     0.013301  0.170957  0.015939  0.061255      -0.139363
Sex                     0.030142  0.020165  0.013284 -0.003618      -0.035758
MaritalDesc            -0.043863 -0.073187  0.005485  0.091319      -0.009466
CitizenDesc            -0.082492 -0.041620 -0.120845 -0.040820      -0.013275
Hispanic/Latino        -0.042185  0.015645  0.001683  0.013738      -0.041885
RaceDesc               -0.058819 -0.028978 -0.063482  0.065803       0.089591
Date_of_Hire           -0.011273  0.064348  0.037044  0.049589       0.039326
Reason_For_Termination  0.045477 -0.075042 -0.023208  0.008841       0.055502
Employment_Status       0.100452 -0.056896 -0.001922 -0.047466      -0.038213
Department             -0.024105  0.096287  0.194447  0.229060      -0.029833
Position               -0.051566 -0.031326 -0.260631 -0.342525      -0.031004
Pay_Rate               -0.021441  0.009744  0.195410  0.294418       0.027365
Manager_Name            0.001220 -0.022766 -0.006647  0.139395      -0.017133
Employment_Source       0.002775 -0.178170  0.021709  0.110374       0.054144
Performance_Score       0.050567  0.116753  0.083885 -0.035418       0.058144

                             Age       Sex  MaritalDesc  CitizenDesc  \
Name                    0.013301  0.030142    -0.043863    -0.082492
EmpNum                  0.170957  0.020165    -0.073187    -0.041620
State                   0.015939  0.013284     0.005485    -0.120845
Zip                     0.061255 -0.003618     0.091319    -0.040820
Date_of_birth          -0.139363 -0.035758    -0.009466    -0.013275
Age                     1.000000  0.020886    -0.004442    -0.070335
Sex                     0.020886  1.000000     0.027127    -0.017890
MaritalDesc            -0.004442  0.027127     1.000000     0.064950
CitizenDesc            -0.070335 -0.017890     0.064950     1.000000
Hispanic/Latino        -0.059104  0.046135     0.065614     0.026107
RaceDesc               -0.017762  0.009170     0.034231     0.125312
Date_of_Hire            0.031183  0.024712     0.053254    -0.011576
Reason_For_Termination  0.066811  0.042721    -0.075343    -0.018679
Employment_Status       0.111094 -0.004167    -0.156658    -0.053324
Department              0.061839 -0.000554     0.164047     0.020116
Position                0.062258 -0.061982    -0.004539     0.008211
Pay_Rate                0.003351  0.122155     0.038816    -0.060906
Manager_Name            0.016524  0.106512     0.031978     0.025677
Employment_Source      -0.172207 -0.062934     0.066694     0.024971
Performance_Score      -0.050695  0.020414     0.045112    -0.059613

                        Hispanic/Latino  RaceDesc  Date_of_Hire  \
Name                          -0.042185 -0.058819     -0.011273
EmpNum                         0.015645 -0.028978      0.064348
State                          0.001683 -0.063482      0.037044
Zip                            0.013738  0.065803      0.049589
Date_of_birth                 -0.041885  0.089591      0.039326
Age                           -0.059104 -0.017762      0.031183
Sex                            0.046135  0.009170      0.024712
MaritalDesc                    0.065614  0.034231      0.053254
CitizenDesc                    0.026107  0.125312     -0.011576
Hispanic/Latino                1.000000  0.054756     -0.105255
RaceDesc                       0.054756  1.000000     -0.033293
Date_of_Hire                  -0.105255 -0.033293      1.000000
Reason_For_Termination        -0.037872  0.071679      0.043105
Employment_Status             -0.070186  0.007701     -0.004054
Department                    -0.083154 -0.018071      0.159262
Position                       0.001861  0.043913     -0.023530
Pay_Rate                       0.084763 -0.079178     -0.089364
Manager_Name                  -0.022052 -0.009835     -0.035967
Employment_Source             -0.073897  0.142895      0.018276
Performance_Score             -0.031689 -0.045488      0.173837

                        Reason_For_Termination  Employment_Status  Department  \
Name                                  0.045477           0.100452   -0.024105
EmpNum                               -0.075042          -0.056896    0.096287
State                                -0.023208          -0.001922    0.194447
Zip                                   0.008841          -0.047466    0.229060
Date_of_birth                         0.055502          -0.038213   -0.029833
Age                                   0.066811           0.111094    0.061839
Sex                                   0.042721          -0.004167   -0.000554
MaritalDesc                          -0.075343          -0.156658    0.164047
CitizenDesc                          -0.018679          -0.053324    0.020116
Hispanic/Latino                      -0.037872          -0.070186   -0.083154
RaceDesc                              0.071679           0.007701   -0.018071
Date_of_Hire                          0.043105          -0.004054    0.159262
Reason_For_Termination                1.000000           0.632373   -0.000579
Employment_Status                     0.632373           1.000000    0.000462
Department                           -0.000579           0.000462    1.000000
Position                              0.082809           0.200458    0.054686
Pay_Rate                             -0.148491          -0.183109    0.101105
Manager_Name                          0.020018           0.046735   -0.094654
Employment_Source                     0.015227           0.019007    0.097241
Performance_Score                     0.007913           0.028353    0.019003

                        Position  Pay_Rate  Manager_Name  Employment_Source  \
Name                   -0.051566 -0.021441      0.001220           0.002775
EmpNum                 -0.031326  0.009744     -0.022766          -0.178170
State                  -0.260631  0.195410     -0.006647           0.021709
Zip                    -0.342525  0.294418      0.139395           0.110374
Date_of_birth          -0.031004  0.027365     -0.017133           0.054144
Age                     0.062258  0.003351      0.016524          -0.172207
Sex                    -0.061982  0.122155      0.106512          -0.062934
MaritalDesc            -0.004539  0.038816      0.031978           0.066694
CitizenDesc             0.008211 -0.060906      0.025677           0.024971
Hispanic/Latino         0.001861  0.084763     -0.022052          -0.073897
RaceDesc                0.043913 -0.079178     -0.009835           0.142895
Date_of_Hire           -0.023530 -0.089364     -0.035967           0.018276
Reason_For_Termination  0.082809 -0.148491      0.020018           0.015227
Employment_Status       0.200458 -0.183109      0.046735           0.019007
Department              0.054686  0.101105     -0.094654           0.097241
Position                1.000000 -0.375616     -0.154094           0.001672
Pay_Rate               -0.375616  1.000000      0.086724           0.018717
Manager_Name           -0.154094  0.086724      1.000000          -0.031998
Employment_Source       0.001672  0.018717     -0.031998           1.000000
Performance_Score      -0.010440 -0.041875     -0.033310           0.008829

                        Performance_Score
Name                             0.050567
EmpNum                           0.116753
State                            0.083885
Zip                             -0.035418
Date_of_birth                    0.058144
Age                             -0.050695
Sex                              0.020414
MaritalDesc                      0.045112
CitizenDesc                     -0.059613
Hispanic/Latino                 -0.031689
RaceDesc                        -0.045488
Date_of_Hire                     0.173837
Reason_For_Termination           0.007913
Employment_Status                0.028353
Department                       0.019003
Position                        -0.010440
Pay_Rate                        -0.041875
Manager_Name                    -0.033310
Employment_Source                0.008829
Performance_Score                1.000000

In [31]:
hr_no_dot.columns

Index(['Name', 'EmpNum', 'State', 'Zip', 'Date_of_birth', 'Age', 'Sex',
       'MaritalDesc', 'CitizenDesc', 'Hispanic/Latino', 'RaceDesc',
       'Date_of_Hire', 'Reason_For_Termination', 'Employment_Status',
       'Department', 'Position', 'Pay_Rate', 'Manager_Name',
       'Employment_Source', 'Performance_Score'],
      dtype='object')

In [34]:
X = hr_no_dot.loc[:,['State', 'Zip', 'Date_of_birth', 'Age', 'Sex',
       'MaritalDesc', 'CitizenDesc', 'Hispanic/Latino', 'RaceDesc',
       'Date_of_Hire', 'Reason_For_Termination', 'Employment_Status',
       'Department', 'Position', 'Manager_Name',
       'Employment_Source', 'Performance_Score']]
y = hr_no_dot.loc[:,['Pay_Rate']]

print(X)
print(y)

     State  Zip  Date_of_birth  Age  Sex  MaritalDesc  CitizenDesc  \
0       10    3             51    7    0            1            2
1       10    4            143    8    1            0            2
2       10  119            266    6    1            3            2
3       10   86            274    7    0            1            2
4       10   98            164    4    0            3            2
5       10   25            198    5    0            1            2
6       10    4            194    8    1            1            2
7       10   47             58    8    1            1            0
8       10  112            148    5    0            1            2
9       10   49            133   13    0            1            2
10      10   35            278   34    0            1            2
11      10   53            261   13    0            3            2
12      10   41            147    6    0            3            2
13      10   67             28   21    0            3            2
14      10   39            263    6    1            1            2
15      10  118             97    8    0            3            2
16      10   95             62    6    0            1            2
17      23  147            228    4    1            0            2
18      10  121            291    8    1            1            2
19      10   31            273    8    0            1            2
20      10   31             20   11    0            1            2
21      10   22            256    6    1            1            2
22      10  108             71    5    1            0            2
23      10   60            101   22    1            1            2
24      10   80             99   13    0            3            2
25      10    4            230   12    1            3            2
26      10  116            149   19    1            3            2
27      10   37             11   29    1            0            2
28      10   73             34    6    1            1            0
29      10   31            235   22    1            3            2
..     ...  ...            ...  ...  ...          ...          ...
271     22  140            102   23    1            3            2
272     16  153            190   18    1            1            2
273      3  149             55   13    1            3            2
274     24  151             78    4    1            2            2
275     23  146            196   22    1            3            0
276     23  148            209    8    1            1            2
277      0  139             45   17    1            3            2
278      6  137            127    3    0            3            2
279      5  138            156    2    0            3            2
280     13  136            163   10    1            3            2
281      9  141            260    4    0            1            2
282     14  144              2   25    1            2            2
283     12  145            157    3    0            1            2
284     19  155            186   27    0            3            2
285      1  152            172    1    0            1            2
286     11  125            214    3    1            3            2
287     21  123            112   26    0            1            2
288     26  126            139    2    0            3            2
289     20  134             41    3    0            3            2
290     10   31            240    8    1            0            2
291     10   60            174   13    0            3            2
292     10   71            150    5    0            3            2
293     10   88            229   13    0            3            2
294     10   12            161    5    0            1            2
295     10   74             63    5    0            2            2
296     10   25             95   13    1            3            2
297     10   71            222    6    0            1            2
298     10   77            184    9    1            3            2
299     10  107            197    9    1            3            1
300     10   90             46   26    1            3            2

     Hispanic/Latino  RaceDesc  Date_of_Hire  Reason_For_Termination  \
0                  0         2            17                       2
1                  0         2             8                       2
2                  0         5            88                       2
3                  0         5            27                       2
4                  0         5            46                       2
5                  0         1            86                       4
6                  0         5             7                       2
7                  0         2            31                       4
8                  0         1            27                       2
9                  2         5             4                       2
10                 1         5            65                       2
11                 0         5            38                       2
12                 1         5            73                      12
13                 0         5            27                      11
14                 0         2            27                      11
15                 0         5            33                       2
16                 0         1             6                       2
17                 0         2            19                       2
18                 0         5            25                      12
19                 0         1            19                       2
20                 0         5            27                       2
21                 0         5            33                       2
22                 0         2             6                       6
23                 1         5             6                       2
24                 0         5            33                       2
25                 0         2            39                       2
26                 0         5             1                       2
27                 0         4            13                       6
28                 1         3            26                       2
29                 0         5             5                       2
..               ...       ...           ...                     ...
271                0         4            36                      13
272                0         5            49                       2
273                0         5            81                       2
274                0         2            43                       2
275                0         2            51                       2
276                0         4            72                       1
277                0         4            88                       2
278                0         4            74                       2
279                1         5            89                       2
280                0         5             6                       2
281                0         2            13                       2
282                0         5            12                       2
283                0         2            87                       2
284                0         2            88                       2
285                0         4            69                       2
286                0         1            35                       2
287                0         5            56                       2
288                0         5            56                       2
289                0         5            24                       7
290                2         2            53                       2
291                0         5            19                       2
292                0         5            20                       2
293                0         2            13                       2
294                0         2            54                       3
295                0         1            20                       2
296                0         1            24                       0
297                0         5            23                       2
298                0         5            73                       2
299                0         2            29                       8
300                0         5            78                       2

     Employment_Status  Department  Position  Manager_Name  Employment_Source  \
0                    0           0         0             3                  3
1                    0           0         0             3                 20
2                    0           0         0             3                  7
3                    0           0         1             3                 15
4                    0           0         1             3                 20
5                    4           0         1             3                  3
6                    0           0        18             9                  9
7                    4           0        18             9                  3
8                    0           0        21             3                  3
9                    0           0        21             2                 13
10                   0           1        13             2                 15
11                   0           2         3             9                  4
12                   3           2         4            18                 17
13                   3           2         4            18                  5
14                   3           2         4            18                  4
15                   0           2         4            18                  5
16                   2           2         4            18                  5
17                   0           2         4            18                  3
18                   4           2         4            18                  4
19                   0           2         4            18                  4
20                   0           2         4            18                  4
21                   0           2         4            18                 15
22                   4           2         4            18                 19
23                   0           2         4            18                  4
24                   0           2         4            18                  4
25                   0           2         7            10                 16
26                   0           2         8            10                 16
27                   4           2         8            10                  3
28                   0           2         9            10                  3
29                   0           2        10            10                 16
..                 ...         ...       ...           ...                ...
271                  4           4         2            11                 10
272                  0           4         2            15                 20
273                  0           4         2            15                 15
274                  0           4         2            11                 20
275                  0           4         2            15                  4
276                  1           4         2            15                 20
277                  0           4         2            11                  7
278                  0           4         2            15                 15
279                  0           4         2            15                 15
280                  0           4         2            11                 20
281                  0           4         2            15                 20
282                  0           4         2            15                  0
283                  0           4         2            11                 16
284                  0           4         2            15                  9
285                  0           4         2            11                 13
286                  0           4         2            11                 20
287                  0           4         6             9                  8
288                  0           4        17             6                 15
289                  4           4        17             6                 18
290                  0           4        17             6                  3
291                  0           5        19             0                 19
292                  0           5        19             0                 15
293                  0           5        19             0                  9
294                  3           5        19             0                  0
295                  0           5        19             0                 17
296                  4           5        19             0                  3
297                  0           5        19             0                 15
298                  0           5        19             0                  8
299                  4           5        19             0                  3
300                  0           6        20            10                 17

     Performance_Score
0                    3
1                    3
2                    3
3                    4
4                    4
5                    3
6                    3
7                    3
8                    0
9                    3
10                   3
11                   2
12                   3
13                   3
14                   4
15                   4
16                   0
17                   2
18                   3
19                   2
20                   3
21                   4
22                   0
23                   0
24                   0
25                   2
26                   3
27                   3
28                   5
29                   1
..                 ...
271                  3
272                  6
273                  3
274                  3
275                  3
276                  4
277                  5
278                  3
279                  3
280                  0
281                  3
282                  1
283                  3
284                  3
285                  3
286                  3
287                  3
288                  3
289                  3
290                  5
291                  3
292                  0
293                  0
294                  5
295                  3
296                  1
297                  3
298                  2
299                  3
300                  3

[301 rows x 17 columns]
     Pay_Rate
0          35
1          22
2          38
3          19
4           6
5          16
6          73
7          73
8          43
9          43
10         90
11         89
12         55
13         61
14         50
15         42
16         49
17         44
18         51
19         54
20         48
21         53
22         56
23         39
24         40
25         89
26         86
27         17
28         87
29         88
..        ...
271        73
272        77
273        73
274        73
275        77
276        73
277        73
278        73
279        79
280        73
281        73
282        73
283        70
284        73
285        73
286        77
287        83
288        70
289        84
290        77
291        59
292        77
293        80
294        61
295        76
296        67
297        63
298        60
299        57
300        32

[301 rows x 1 columns]

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.1, random_state=17)

In [39]:
regressors = [
    LinearRegression(), 
    RANSACRegressor(), 
    KNeighborsRegressor(),
    KNeighborsRegressor(n_neighbors=9, metric='manhattan'),
    SVR(),
    LinearSVR(),
    GaussianProcessRegressor(),
    SVR(kernel='linear'), # Cf. LinearSVR: much slower, might be better or worse: 
]

In [43]:

head = 6
for model in regressors[:head]:
    start = time()
    model.fit(X_train, y_train)
    train_time = time() - start
    start = time()
    predictions = model.predict(X_test)
    predict_time = time()-start    
    print(model)
    print("\tTraining time: %0.3fs)" % train_time)
    print("\tPrediction time: %0.3fs" % predict_time)
    print("\tExplained variance:", explained_variance_score(y_test, predictions))
    print("\tMean absolute error:", mean_absolute_error(y_test, predictions))
    print("\tR2 score:", r2_score(y_test, predictions))
    print()

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)
	Training time: 0.004s)
	Prediction time: 0.001s
	Explained variance: 0.2617233150129805
	Mean absolute error: 21.053629248570044
	R2 score: 0.2588572686093088

RANSACRegressor(base_estimator=None, is_data_valid=None, is_model_valid=None,
        loss='absolute_loss', max_skips=inf, max_trials=100,
        min_samples=None, random_state=None, residual_threshold=None,
        stop_n_inliers=inf, stop_probability=0.99, stop_score=inf)
	Training time: 0.080s)
	Prediction time: 0.001s
	Explained variance: -2.2223950898342673
	Mean absolute error: 44.03645731369311
	R2 score: -3.3602221578231477

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')
	Training time: 0.001s)
	Prediction time: 0.002s
	Explained variance: 0.23876125635750223
	Mean absolute error: 21.819354838709682
	R2 score: 0.2223020825943256

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='manhattan',
          metric_params=None, n_jobs=None, n_neighbors=9, p=2,
          weights='uniform')
	Training time: 0.001s)
	Prediction time: 0.001s
	Explained variance: 0.24280198822788857
	Mean absolute error: 22.60931899641577
	R2 score: 0.2192066037236945

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)
	Training time: 0.009s)
	Prediction time: 0.001s
	Explained variance: 5.422845560376643e-07
	Mean absolute error: 26.575799342270624
	R2 score: -0.20828354557488282

LinearSVR(C=1.0, dual=True, epsilon=0.0, fit_intercept=True,
     intercept_scaling=1.0, loss='epsilon_insensitive', max_iter=1000,
     random_state=None, tol=0.0001, verbose=0)
	Training time: 0.024s)
	Prediction time: 0.001s
	Explained variance: 0.05069423936280415
	Mean absolute error: 28.676670954192755
	R2 score: -0.3247682355115795

D:\Anaconda\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\Anaconda\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
D:\Anaconda\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\Anaconda\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [45]:
lr = LinearRegression()
lasso = Lasso()
ridge = Ridge()

for model in [lr, lasso, ridge]:
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    print(model)
    print("\tExplained variance:", explained_variance_score(y_test, predictions))
    print("\tMean absolute error:", mean_absolute_error(y_test, predictions))
    print("\tR2 score:", r2_score(y_test, predictions))
    print()

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)
	Explained variance: 0.2617233150129805
	Mean absolute error: 21.053629248570044
	R2 score: 0.2588572686093088

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)
	Explained variance: 0.2670900679656003
	Mean absolute error: 21.604186414655665
	R2 score: 0.26279836839698656

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)
	Explained variance: 0.26235856258562495
	Mean absolute error: 21.055164798726356
	R2 score: 0.25950857236626657

In [47]:
regressors = [LinearRegression(),
              DecisionTreeRegressor(max_depth=5),
              DecisionTreeRegressor(max_depth=10),
              DecisionTreeRegressor(max_depth=20),
              RandomForestRegressor(max_depth=10),
              SVR(),]

for model in regressors:
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    print(model)
    print("\tExplained variance:", explained_variance_score(y_test, predictions))
    print("\tMean absolute error:", mean_absolute_error(y_test, predictions))
    print("\tR2 score:", r2_score(y_test, predictions))
    print()

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)
	Explained variance: 0.2617233150129805
	Mean absolute error: 21.053629248570044
	R2 score: 0.2588572686093088

DecisionTreeRegressor(criterion='mse', max_depth=5, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')
	Explained variance: 0.8375725480277652
	Mean absolute error: 8.231275770070337
	R2 score: 0.833732680233352

DecisionTreeRegressor(criterion='mse', max_depth=10, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')
	Explained variance: 0.6921937628930535
	Mean absolute error: 10.11802995391705
	R2 score: 0.68453257871952

DecisionTreeRegressor(criterion='mse', max_depth=20, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')
	Explained variance: 0.6795231536638052
	Mean absolute error: 10.35483870967742
	R2 score: 0.6770462045800929

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)
	Explained variance: 0.8399451335167596
	Mean absolute error: 8.190499660751085
	R2 score: 0.8377133312442063

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)
	Explained variance: 5.422845560376643e-07
	Mean absolute error: 26.575799342270624
	R2 score: -0.20828354557488282

D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  if __name__ == '__main__':
D:\Anaconda\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\Anaconda\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)